// common mixins imported from this file
@import "./../../mixins/scss/mixins";

f-suggest {
	@include base();
	display: flex;
	flex: 1 0 auto;
}

:host {
	.f-suggest-popover {
		box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
	}
}
