@import "@cldcvr/flow-core/src/mixins/scss/mixins";

f-code-editor {
	@include base();
	display: flex;
	min-height: 100px;
	flex: 1 1;
	width: 100%;
	height: 100%;
	overflow: visible;

	[class^="codicon-"],
	[class*="codicon-"] {
		font-family: codicon, Arial, Helvetica, sans-serif !important;
	}
}
