@import "@cldcvr/flow-core/src/mixins/scss/mixins";

f-md-editor {
	@include base();
	display: block;
	flex: 1 0 auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	border-radius: 4px;
}

:host {
	div.flow-editable {
		@include scrollbar();
		outline: none;
		word-break: break-all;
		width: max-content;
		border: 1px solid transparent;
		padding: 8px;
		white-space: pre;
		background-color: var(--color-surface-tertiary);

		&:focus {
			border: 1px solid var(--color-primary-default);
		}
	}
}
