:host {
	f-div {
		width: inherit;
		height: inherit;
	}
	f-div[direction="row"] {
		.f-field-separator-label {
			padding: 0px 8px;
		}
	}
	f-div[direction="column"] {
		.f-field-separator-label {
			padding: 8px 0px;
		}
	}
}
