@import "./../../mixins/scss/mixins";

$states: (
  "default": (
    "color": var(--color-surface-tertiary),
  ),
  "primary": (
    "color": var(--color-primary-default),
  ),
  "success": (
    "color": var(--color-success-default),
  ),
  "warning": (
    "color": var(--color-warning-default),
  ),
  "danger": (
    "color": var(--color-danger-default),
  ),
);

f-field {
  @include base();
  display: flex;
  gap: 12px;
  flex: 1 1;
  flex-direction: column;

  &[validation-state="danger"] {
    --color-subtext-default: var(--color-danger-default) !important;
    --color-input-default: var(--color-danger-default) !important;
    --color-input-border-default: var(--color-danger-default) !important;
  }

  @each $state, $value in $states {
    &[state^="#{$state}"] {
      // include mixin for inheritance rules
      @include subtext-color($state);
      @include input-color($state);
    }
  }

  &[type="checkbox"] {
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    gap: 12px;
  }

  &[type="radio"] {
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    gap: 12px;
  }

  &[type="switch"] {
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    gap: 12px;
  }

  &[disabled] {
    @include disabled();
  }
}
