@use "sass:map";
@import "./../../mixins/scss/mixins";

$variants: (
  "dotted": dotted,
  "dashed": dashed,
  "solid": solid,
);

$sizes: (
  "medium": 0px,
  "large": 1px,
);

$states: (
  "default": var(--color-icon-default),
  "secondary": var(--color-icon-secondary),
  "subtle": var(--color-icon-subtle),
);

f-divider {
  @include base();

  @each $variant, $value in $variants {
    &[variant="#{$variant}"] {
      border-style: $value;
    }
  }

  @each $state, $color in $states {
    &[state="#{$state}"] {
      border-color: $color;
    }
  }
}

//styling divider vertically or horizontally according to the immediate parent f-div
f-div {
  &[direction="row"] {
    & > f-divider {
      height: 100%;
    }
    f-divider {
      @each $size, $value in $sizes {
        &[size="#{$size}"] {
          border-left-width: $value;
        }
      }
    }
  }
  &[direction="column"] {
    & > f-divider {
      width: 100%;
    }
    f-divider {
      @each $size, $value in $sizes {
        &[size="#{$size}"] {
          border-top-width: $value;
        }
      }
    }
  }
}
