f-div[direction="column"],
f-form-group[direction="vertical"] {
	> f-form-object {
		width: 100%;
	}
	> f-form-array {
		width: 100%;
	}
	> f-form-group {
		width: 100%;
	}
	> f-suggest {
		width: 100%;
	}
	> f-field-separator {
		width: 100%;
	}
	> f-radio-group {
		width: 100%;
	}
	> f-checkbox-group {
		width: 100%;
	}
	> f-select {
		width: 100%;
	}
	> f-date-time-picker {
		width: 100%;
	}
}

f-div[direction="row"],
f-form-group[direction="horizontal"] {
	> f-field-separator {
		height: 100%;
	}
	> f-select,
	> f-suggest,
	> f-date-time-picker {
		width: 100%;
		flex: initial;
	}
	> .label-left-layout {
		width: auto !important;
		flex: 1 1 auto !important;
	}
}

f-form-object {
	> [slot="help"] {
		display: contents;
	}

	&[state="default"] {
		--color-help-text: var(--color-state-secondary);
	}

	&[state="danger"] {
		padding: 8px;
		border-radius: 4px;
		border: 1px solid var(--color-danger-default);
	}
}
