:host {
	.cell-radio {
		display: var(--display-cell-radio);
	}
	.details-toggle {
		margin-left: auto;
	}
	.f-tcell-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 100%;
		f-checkbox {
			margin-right: 12px;
		}
		f-radio {
			margin-right: 12px;
		}
		.row-toggler.left {
			margin-right: 12px;
		}
	}
}
