# node
node_modules

# ignore for vscode extention package
out
.vscode-test/
*.vsix

# ignore for lit elements package 
dist


storybook-static
npm-debug.log*
.npmrc
coverage
dist
.DS_Store
.sass-cache
bundle-analysis
.eslintcache
test-report.xml
**/.yarn/offline-mirror
yarn-error.log
stats.html
.cache
es-bundle