$weights: (
	"bold": bold,
	"medium": 500,
	"regular": 400
);

$states: (
	"default": (
		"default": var(--color-text-default),
		"text": var(--color-text-default)
	),
	"secondary": (
		"default": var(--color-text-secondary),
		"text": var(--color-text-secondary)
	),
	"subtle": (
		"default": var(--color-text-subtle),
		"text": var(--color-text-subtle)
	),
	"primary": (
		"default": var(--color-primary-default),
		"text": var(--color-primary-text)
	),
	"success": (
		"default": var(--color-success-default),
		"text": var(--color-success-text)
	),
	"danger": (
		"default": var(--color-danger-default),
		"text": var(--color-danger-text)
	),
	"warning": (
		"default": var(--color-warning-default),
		"text": var(--color-warning-text)
	)
);

$aligns: left, center, right;
