@use "sass:map";
@import "./../../mixins/scss/mixins";
@import "./f-progress-bar-variables";

f-progress-bar {
	@include base();
	display: flex;
	flex: 1 0 auto;
	&[variant="circle"] {
		display: inline-flex;
		flex: 0 0 auto;
		border-radius: 50%;
		border: 1px solid var(--f-circle-progress-outline);
		padding: 2px;
		@each $state, $color in $states {
			&[state="#{$state}"] {
				--f-circle-progress-outline: #{map.get($color, "background")};
			}
		}
	}
}
