@import "./../../mixins/scss/mixins";

f-trow {
	display: contents;
	vertical-align: middle;
	@include base();
}

:host {
	.expandable {
		grid-column-start: 1;
	}
	.details-toggle {
		grid-column-start: last;
	}
}
