@import "./../../mixins/scss/mixins";

f-trow {
	display: contents;
	vertical-align: middle;
	@include base();
}

:host {
	.expandable {
		grid-column-start: 1;
	}
	.details-toggle {
		grid-column-start: last;
		background-color: var(--color-background-row);
		border-bottom: var(--border-bottom);
		border-left: var(--border-left);
	}
}
