@import "./../../mixins/scss/mixins";
@import "./f-checkbox-variables";

f-checkbox {
	display: flex;
	height: fit-content;
	flex: 0 0 fit-content;
	&[disabled] {
		@include disabled();
	}
	@each $state, $color in $states {
		&[state="#{$state}"] {
			@include input-color($state);
		}
	}
}
