f-lineage {
	display: flex;
	height: auto;
	overflow: auto;
	flex-direction: column;
	align-items: flex-end;

	foreignObject {
		overflow: visible;
	}
}

f-div[direction="column"] {
	> f-lineage {
		width: 100%;
		flex: 1 0 auto;
	}
}

f-div[direction="row"] {
	> f-lineage {
		flex: 1 0;
		max-width: 100%;
	}
}
