@use "sass:map";
@import "./../../mixins/scss/mixins";

f-template {
  @media (max-width: 768px) {
    .responsive-icon-group {
      width: inherit;
    }
    .not-responsive-icon-group {
      display: none;
    }
  }
  @media (min-width: 768px) {
    .responsive-icon-group {
      display: none;
    }
    .not-responsive-icon-group {
      width: inherit;
    }
  }
  @media (max-width: 992px) {
    .show-search-icon {
      width: inherit;
    }
  }
  @media (min-width: 992px) {
    .show-search-icon {
      display: none;
    }
  }
  @media (min-width: 600px) {
    .not-responsive {
      width: inherit;
    }
    .responsive {
      display: none;
    }
  }
  @media (max-width: 600px) {
    .not-responsive-header {
      display: none;
    }
    .responsive-header {
      width: inherit;
    }
  }
}
