// common mixins imported from this file
@import "@cldcvr/flow-core/src/mixins/scss/mixins";

f-force-graph {
	@include base();
	display: flex;
	flex: 1 0 auto;
}

:host {
	svg {
		height: 100%;
		width: 100%;
	}

	foreignObject {
		cursor: pointer;
		overflow: visible;
		> * {
			position: fixed !important;
		}
		* {
			transform-origin: 0% 0%;
		}
	}
	.no-wrap {
		white-space: nowrap;
	}
}
