// common mixins imported from this file
@import "./../../mixins/scss/mixins";

f-search {
	@include base();
	display: flex;
	flex: 1 0 auto;
	&[disabled] {
		@include disabled();
	}
	&[state="default"] {
		@include input-color("default");
	}
	&[state="primary"] {
		@include input-color("primary");
	}
	&[state="success"] {
		@include input-color("success");
	}
	&[state="warning"] {
		@include input-color("warning");
	}
	&[state="danger"] {
		@include input-color("danger");
	}
}

:host {
	.f-search-wrapper[disabled] {
		@include disabled();
		pointer-events: none;
		opacity: 1;
	}
}
