$sizes: (
	"medium": 36px,
	"small": 28px
);

$state-colors: (
	"primary": var(--color-primary-default),
	"success": var(--color-success-default),
	"warning": var(--color-warning-default),
	"danger": var(--color-danger-default)
);

$variants: (
	"curved": 4px,
	"round": 22px,
	"block": 0px
);

$categories: (
	"fill": (
		"background": var(--color-input-default),
		"hover": var(--color-input-default-hover),
		"border": 1px solid var(--color-input-default)
	),
	"outline": (
		"background": transparent,
		"hover": var(--color-surface-default-hover),
		"border": 1px solid var(--color-border-default)
	)
);
