@use "sass:map";

// common mixins imported from this file
@import "./../../mixins/scss/mixins";
@import "./f-icon-picker-variables";
/**
START : scss maps to hold repsective attribute values
**/

:host {
	.f-icon-picker {
		@include base();
		cursor: pointer;
		align-items: center;
		display: flex;
		justify-content: space-between;
		gap: 8px;
		max-width: 58px;
		> f-div:not([placeholder]) {
			font-style: normal;
			font-weight: 325;
			line-height: 18px;
			color: var(--color-text-subtle);
			width: fit-content !important;
			&[size="small"] {
				font-size: 15px;
			}
			&[size="medium"] {
				font-size: 21px;
			}
		}
		padding: 0px 8px;

		@each $variant, $value in $variants {
			&[variant="#{$variant}"] {
				border-radius: $value;
			}
		}
		@each $size, $value in $sizes {
			&[size="#{$size}"] {
				height: $value;
			}
		}
		@each $state, $color in $state-colors {
			&[state="#{$state}"] {
				@each $category, $value in $categories {
					&[category="#{$category}"] {
						background-color: map.get($value, "background");
						border: 1px solid $color;
						&:hover {
							background-color: map.get($value, "hover");
						}
					}
					&[category="transparent"][variant="block"] {
						background-color: transparent;
						border-top: 0px;
						border-bottom: 1px solid $color;
						border-left: 0px;
						border-right: 0px;
						&:hover {
							background-color: var(--color-surface-default-hover);
						}
					}
				}
			}
		}

		&[state="default"] {
			@each $category, $value in $categories {
				&[category="#{$category}"] {
					background-color: map.get($value, "background");
					border: map.get($value, "border");
					&:hover {
						background-color: map.get($value, "hover");
					}
				}
				&[category="transparent"][variant="block"] {
					background-color: transparent;
					border-top: 0px;
					border-bottom: 1px solid var(--color-border-default);
					border-left: 0px;
					border-right: 0px;
					&:hover {
						background-color: var(--color-surface-default-hover);
					}
				}
			}
			&:focus {
				outline: none;
				border: 1px solid var(--color-primary-default);
			}
		}
	}
	div.f-icon-picker[disabled] {
		@include disabled();
		pointer-events: none;
		opacity: 1;
	}
}
