:root {
	--color-tab-background: "transparent";
}

f-tab {
	&[direction="horizontal"] {
		width: 100%;
	}
	&[direction="vertical"] {
		width: fit-content;
		height: 100%;
	}
	&[variant="fill"] {
		--color-tab-background: var(--color-surface-secondary);
	}
	&[variant="transparent"] {
		--color-tab-background: "transparent";
	}
}
