@import "./../../mixins/scss/mixins";

f-carousel {
	@include base();
	display: flex;
	flex: 1 0 auto;
	f-carousel-content {
		width: inherit;
		display: flex;
		flex: 1 0 auto;
		justify-content: center;
	}
}
