@use "sass:map";
@use "sass:math";
@import "./../../mixins/scss/mixins";

$sizes: (
  "x-small": (
    "size": 20px,
    "padding": 0px 8px,
    "gap": 4px,
    "loaderSize": 12px,
    "marginBottom": 12px,
  ),
  "small": (
    "size": 28px,
    "padding": 0px 12px,
    "gap": 8px,
    "loaderSize": 16px,
    "marginBottom": 16px,
  ),
  "medium": (
    "size": 36px,
    "padding": 0px 16px,
    "gap": 12px,
    "loaderSize": 20px,
    "marginBottom": 16px,
  ),
  "large": (
    "size": 44px,
    "padding": 0px 20px,
    "gap": 16px,
    "loaderSize": 24px,
    "marginBottom": 20px,
  ),
);

$states: (
  "primary": (
    "background": var(--color-primary-default),
    "hover": var(--color-primary-default-hover),
    "loading": var(--color-primary-surface),
  ),
  "neutral": (
    "background": var(--color-neutral-secondary),
    "hover": var(--color-neutral-default-hover),
    "loading": var(--color-surface-tertiary),
  ),
  "success": (
    "background": var(--color-success-default),
    "hover": var(--color-success-default-hover),
    "loading": var(--color-success-surface),
  ),
  "warning": (
    "background": var(--color-warning-default),
    "hover": var(--color-warning-default-hover),
    "loading": var(--color-warning-surface),
  ),
  "danger": (
    "background": var(--color-danger-default),
    "hover": var(--color-danger-default-hover),
    "loading": var(--color-danger-surface),
  ),
);

:host {
  @include base();
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  height: fit-content;
  width: fit-content;

  .f-icon-button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;

    &[counter] {
      margin-bottom: 20px;
      overflow: visible;
    }

    @each $size, $value in $sizes {
      &[size="#{$size}"] {
        height: map-get($value, "size");
        min-width: map-get($value, "size");
        &[counter] {
          margin-bottom: map-get($value, "marginBottom");
        }
        &[variant="round"] {
          border-radius: math.div(map-get($value, "size"), 2);
        }
        &[variant="curved"] {
          border-radius: 4px;
        }
        &[type="packed"] {
          height: fit-content;
          min-width: fit-content;
        }
        &[variant="block"] {
          display: flex;
          flex: 1 1 auto;
          width: 100%;
        }
        &[loading] {
          svg {
            height: map.get($value, "loaderSize");
          }
        }
      }
    }
    @each $state, $color in $states {
      &[state="#{$state}"][type="fill"] {
        background-color: map.get($color, "background");
        border: 1px
          solid
          map.get(
            $color,
            "background"
          ); // added to match width of outline category
        &:hover {
          background-color: map.get($color, "hover");
          border: 1px solid map.get($color, "hover");
        }

        &[loading] {
          background-color: map.get($color, "loading");
          border: 1px solid map.get($color, "loading");

          svg path.loader-fill {
            fill: map.get($color, "background");
          }
        }
      }
      &[state="#{$state}"][type="outline"] {
        background-color: transparent;
        border: 1px
          solid
          map.get(
            $color,
            "background"
          ); // added to match width of outline category
        &:hover {
          background-color: transparent;
          border: 1px solid map.get($color, "hover");
        }
        &[loading] {
          border: 1px solid map.get($color, "background");

          svg path.loader-fill {
            fill: map.get($color, "background");
          }
        }
      }
      &[state="#{$state}"][type="transparent"],
      &[state="#{$state}"][type="packed"],
      &[state="#{$state}"][variant="block"] {
        background-color: transparent;
        border: 1px
          solid
          transparent; // added to match width of outline category
        &:hover {
          background-color: transparent;
          border: 1px solid transparent;
        }
        &[loading] {
          svg path.loader-fill {
            fill: map.get($color, "background");
          }
        }
      }
    }
    &[disabled] {
      @include disabled();
    }
    &[loading] {
      @include rotate("svg");
      pointer-events: none;
      > *:not(.loader-svg) {
        visibility: hidden;
      }
      svg {
        position: absolute;
      }
    }
  }
}
f-icon-button {
  &[variant="block"] {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  }
}
