@use "sass:map";
@import "./../../mixins/scss/mixins";

$sizes: (
	"medium": (
		"padding": 16px
	),
	"small": (
		"padding": 12px
	)
);

f-table {
	display: grid;
	//grid-template-columns: repeat(5, auto);
	flex: 1 0 fit-content;
	@include base();

	&[variant="stripped"] {
		> f-trow:nth-child(odd) > f-tcell {
			background-color: var(--color-surface-default);
		}

		> f-trow:nth-child(even) > f-tcell {
			background-color: var(--color-surface-subtle);
		}
	}

	&[variant="outlined"] {
		border: 1px solid var(--color-border-default);
	}

	&[variant="underlined"] {
		> f-trow > f-tcell {
			border-bottom: 1px solid var(--color-border-default);
		}

		> f-trow > f-tcell {
			border-bottom: 1px solid var(--color-border-default);
		}
	}

	&[variant="bordered"] {
		border-top: 1px solid var(--color-border-default);
		border-left: 1px solid var(--color-border-default);
		border-right: 1px solid var(--color-border-default);

		> f-trow > f-tcell {
			&:not(:last-child) {
				border-right: 1px solid var(--color-border-default);
			}
			border-bottom: 1px solid var(--color-border-default);
		}
	}
	@each $size, $value in $sizes {
		&[size="#{$size}"] {
			> f-trow > f-tcell {
				padding: map.get($value, "padding");
			}
		}
	}
}
