@function getHover($value) {
	$hover-color: lighten($value, 5%);
	@if lightness($value) > 50 {
		$hover-color: darken($value, 10%);
	}
	@return $hover-color;
}
@function getSelected($value) {
	$hover-color: lighten($value, 10%);
	@if lightness($value) > 50 {
		$hover-color: darken($value, 20%);
	}
	@return $hover-color;
}

[data-theme="f-light"] {
	$color-primary-secondary: #0f6dbd;
	--color-primary-secondary: #{$color-primary-secondary} !important;
	--color-primary-secondary-hover: #{getHover($color-primary-secondary)} !important;
	--color-primary-secondary-selected: #{getSelected($color-primary-secondary)} !important;
	$color-primary-surface: #b8dbfa;
	--color-primary-surface: #{$color-primary-surface} !important;
	--color-primary-surface-hover: #{getHover($color-primary-surface)} !important;
	--color-primary-surface-selected: #{getSelected($color-primary-surface)} !important;
	$color-success-default: #45a148;
	--color-success-default: #{$color-success-default} !important;
	--color-success-default-hover: #{getHover($color-success-default)} !important;
	--color-success-default-selected: #{getSelected($color-success-default)} !important;
	$color-primary-subtle: #6db5f3;
	--color-primary-subtle: #{$color-primary-subtle} !important;
	--color-primary-subtle-hover: #{getHover($color-primary-subtle)} !important;
	--color-primary-subtle-selected: #{getSelected($color-primary-subtle)} !important;
	$color-warning-text: #583e09;
	--color-warning-text: #{$color-warning-text} !important;
	--color-warning-text-hover: #{getHover($color-warning-text)} !important;
	--color-warning-text-selected: #{getSelected($color-warning-text)} !important;
	$color-success-subtle: #70c273;
	--color-success-subtle: #{$color-success-subtle} !important;
	--color-success-subtle-hover: #{getHover($color-success-subtle)} !important;
	--color-success-subtle-selected: #{getSelected($color-success-subtle)} !important;
	$color-highlight-secondary: #6d41c8;
	--color-highlight-secondary: #{$color-highlight-secondary} !important;
	--color-highlight-secondary-hover: #{getHover($color-highlight-secondary)} !important;
	--color-highlight-secondary-selected: #{getSelected($color-highlight-secondary)} !important;
	$color-success-secondary: #2e7a31;
	--color-success-secondary: #{$color-success-secondary} !important;
	--color-success-secondary-hover: #{getHover($color-success-secondary)} !important;
	--color-success-secondary-selected: #{getSelected($color-success-secondary)} !important;
	$color-success-surface: #c9e8ca;
	--color-success-surface: #{$color-success-surface} !important;
	--color-success-surface-hover: #{getHover($color-success-surface)} !important;
	--color-success-surface-selected: #{getSelected($color-success-surface)} !important;
	$color-highlight-default: #9370db;
	--color-highlight-default: #{$color-highlight-default} !important;
	--color-highlight-default-hover: #{getHover($color-highlight-default)} !important;
	--color-highlight-default-selected: #{getSelected($color-highlight-default)} !important;
	$color-primary-text: #08365e;
	--color-primary-text: #{$color-primary-text} !important;
	--color-primary-text-hover: #{getHover($color-primary-text)} !important;
	--color-primary-text-selected: #{getSelected($color-primary-text)} !important;
	$color-highlight-text: #352060;
	--color-highlight-text: #{$color-highlight-text} !important;
	--color-highlight-text-hover: #{getHover($color-highlight-text)} !important;
	--color-highlight-text-selected: #{getSelected($color-highlight-text)} !important;
	$color-highlight-subtle: #b299e6;
	--color-highlight-subtle: #{$color-highlight-subtle} !important;
	--color-highlight-subtle-hover: #{getHover($color-highlight-subtle)} !important;
	--color-highlight-subtle-selected: #{getSelected($color-highlight-subtle)} !important;
	$color-danger-text: #570f10;
	--color-danger-text: #{$color-danger-text} !important;
	--color-danger-text-hover: #{getHover($color-danger-text)} !important;
	--color-danger-text-selected: #{getSelected($color-danger-text)} !important;
	$color-danger-subtle: #e67575;
	--color-danger-subtle: #{$color-danger-subtle} !important;
	--color-danger-subtle-hover: #{getHover($color-danger-subtle)} !important;
	--color-danger-subtle-selected: #{getSelected($color-danger-subtle)} !important;
	$color-danger-secondary: #ad1f1f;
	--color-danger-secondary: #{$color-danger-secondary} !important;
	--color-danger-secondary-hover: #{getHover($color-danger-secondary)} !important;
	--color-danger-secondary-selected: #{getSelected($color-danger-secondary)} !important;
	$color-warning-secondary: #c78d1a;
	--color-warning-secondary: #{$color-warning-secondary} !important;
	--color-warning-secondary-hover: #{getHover($color-warning-secondary)} !important;
	--color-warning-secondary-selected: #{getSelected($color-warning-secondary)} !important;
	$color-warning-surface: #fae2b2;
	--color-warning-surface: #{$color-warning-surface} !important;
	--color-warning-surface-hover: #{getHover($color-warning-surface)} !important;
	--color-warning-surface-selected: #{getSelected($color-warning-surface)} !important;
	$color-warning-default: #df9f20;
	--color-warning-default: #{$color-warning-default} !important;
	--color-warning-default-hover: #{getHover($color-warning-default)} !important;
	--color-warning-default-selected: #{getSelected($color-warning-default)} !important;
	$color-warning-subtle: #e4ba67;
	--color-warning-subtle: #{$color-warning-subtle} !important;
	--color-warning-subtle-hover: #{getHover($color-warning-subtle)} !important;
	--color-warning-subtle-selected: #{getSelected($color-warning-subtle)} !important;
	$color-danger-surface: #f2b5b5;
	--color-danger-surface: #{$color-danger-surface} !important;
	--color-danger-surface-hover: #{getHover($color-danger-surface)} !important;
	--color-danger-surface-selected: #{getSelected($color-danger-surface)} !important;
	$color-danger-default: #d34545;
	--color-danger-default: #{$color-danger-default} !important;
	--color-danger-default-hover: #{getHover($color-danger-default)} !important;
	--color-danger-default-selected: #{getSelected($color-danger-default)} !important;
	$color-highlight-surface: #d1c4ee;
	--color-highlight-surface: #{$color-highlight-surface} !important;
	--color-highlight-surface-hover: #{getHover($color-highlight-surface)} !important;
	--color-highlight-surface-selected: #{getSelected($color-highlight-surface)} !important;
	$color-primary-default: #2c91e8;
	--color-primary-default: #{$color-primary-default} !important;
	--color-primary-default-hover: #{getHover($color-primary-default)} !important;
	--color-primary-default-selected: #{getSelected($color-primary-default)} !important;
	$color-success-text: #1c401d;
	--color-success-text: #{$color-success-text} !important;
	--color-success-text-hover: #{getHover($color-success-text)} !important;
	--color-success-text-selected: #{getSelected($color-success-text)} !important;
	$color-hover: #f8d99a;
	--color-hover: #{$color-hover} !important;
	--color-hover-hover: #{getHover($color-hover)} !important;
	--color-hover-selected: #{getSelected($color-hover)} !important;
	$color-selected: #6c7994;
	--color-selected: #{$color-selected} !important;
	--color-selected-hover: #{getHover($color-selected)} !important;
	--color-selected-selected: #{getSelected($color-selected)} !important;
	$color-icon-default: #698096;
	--color-icon-default: #{$color-icon-default} !important;
	--color-icon-default-hover: #{getHover($color-icon-default)} !important;
	--color-icon-default-selected: #{getSelected($color-icon-default)} !important;
	$color-icon-secondary: #8799ab;
	--color-icon-secondary: #{$color-icon-secondary} !important;
	--color-icon-secondary-hover: #{getHover($color-icon-secondary)} !important;
	--color-icon-secondary-selected: #{getSelected($color-icon-secondary)} !important;
	$color-text-subtle: #8f99a3;
	--color-text-subtle: #{$color-text-subtle} !important;
	--color-text-subtle-hover: #{getHover($color-text-subtle)} !important;
	--color-text-subtle-selected: #{getSelected($color-text-subtle)} !important;
	$color-text-default: #2e3338;
	--color-text-default: #{$color-text-default} !important;
	--color-text-default-hover: #{getHover($color-text-default)} !important;
	--color-text-default-selected: #{getSelected($color-text-default)} !important;
	$color-icon-subtle: #a0b3c5;
	--color-icon-subtle: #{$color-icon-subtle} !important;
	--color-icon-subtle-hover: #{getHover($color-icon-subtle)} !important;
	--color-icon-subtle-selected: #{getSelected($color-icon-subtle)} !important;
	$color-text-secondary: #515862;
	--color-text-secondary: #{$color-text-secondary} !important;
	--color-text-secondary-hover: #{getHover($color-text-secondary)} !important;
	--color-text-secondary-selected: #{getSelected($color-text-secondary)} !important;
	$color-neutral-subtle: #cad0d9;
	--color-neutral-subtle: #{$color-neutral-subtle} !important;
	--color-neutral-subtle-hover: #{getHover($color-neutral-subtle)} !important;
	--color-neutral-subtle-selected: #{getSelected($color-neutral-subtle)} !important;
	$color-neutral-text: #29333d;
	--color-neutral-text: #{$color-neutral-text} !important;
	--color-neutral-text-hover: #{getHover($color-neutral-text)} !important;
	--color-neutral-text-selected: #{getSelected($color-neutral-text)} !important;
	$color-neutral-default: #8995a9;
	--color-neutral-default: #{$color-neutral-default} !important;
	--color-neutral-default-hover: #{getHover($color-neutral-default)} !important;
	--color-neutral-default-selected: #{getSelected($color-neutral-default)} !important;
	$color-surface-subtle: #edf0f3;
	--color-surface-subtle: #{$color-surface-subtle} !important;
	--color-surface-subtle-hover: #{getHover($color-surface-subtle)} !important;
	--color-surface-subtle-selected: #{getSelected($color-surface-subtle)} !important;
	$color-surface-tertiary: #d7dee4;
	--color-surface-tertiary: #{$color-surface-tertiary} !important;
	--color-surface-tertiary-hover: #{getHover($color-surface-tertiary)} !important;
	--color-surface-tertiary-selected: #{getSelected($color-surface-tertiary)} !important;
	$color-neutral-surface: #f9fafb;
	--color-neutral-surface: #{$color-neutral-surface} !important;
	--color-neutral-surface-hover: #{getHover($color-neutral-surface)} !important;
	--color-neutral-surface-selected: #{getSelected($color-neutral-surface)} !important;
	$color-neutral-secondary: #566176;
	--color-neutral-secondary: #{$color-neutral-secondary} !important;
	--color-neutral-secondary-hover: #{getHover($color-neutral-secondary)} !important;
	--color-neutral-secondary-selected: #{getSelected($color-neutral-secondary)} !important;
	$color-surface-secondary: #e7ebef;
	--color-surface-secondary: #{$color-surface-secondary} !important;
	--color-surface-secondary-hover: #{getHover($color-surface-secondary)} !important;
	--color-surface-secondary-selected: #{getSelected($color-surface-secondary)} !important;
	$color-surface-default: #f9fafb;
	--color-surface-default: #{$color-surface-default} !important;
	--color-surface-default-hover: #{getHover($color-surface-default)} !important;
	--color-surface-default-selected: #{getSelected($color-surface-default)} !important;
	$color-border-subtle: #d8dbde;
	--color-border-subtle: #{$color-border-subtle} !important;
	--color-border-subtle-hover: #{getHover($color-border-subtle)} !important;
	--color-border-subtle-selected: #{getSelected($color-border-subtle)} !important;
	$color-border-secondary: #c0ccd8;
	--color-border-secondary: #{$color-border-secondary} !important;
	--color-border-secondary-hover: #{getHover($color-border-secondary)} !important;
	--color-border-secondary-selected: #{getSelected($color-border-secondary)} !important;
	$color-border-default: #a9b8c6;
	--color-border-default: #{$color-border-default} !important;
	--color-border-default-hover: #{getHover($color-border-default)} !important;
	--color-border-default-selected: #{getSelected($color-border-default)} !important;
	$color-input-default: #c8d2db;
	--color-input-default: #{$color-input-default} !important;
	--color-input-default-hover: #{getHover($color-input-default)} !important;
	--color-input-default-selected: #{getSelected($color-input-default)} !important;
	$color-color-6: #db5a42;
	--color-color-6: #{$color-color-6} !important;
	--color-color-6-hover: #{getHover($color-color-6)} !important;
	--color-color-6-selected: #{getSelected($color-color-6)} !important;
	$color-color-5: #ef798a;
	--color-color-5: #{$color-color-5} !important;
	--color-color-5-hover: #{getHover($color-color-5)} !important;
	--color-color-5-selected: #{getSelected($color-color-5)} !important;
	$color-color-3: #307989;
	--color-color-3: #{$color-color-3} !important;
	--color-color-3-hover: #{getHover($color-color-3)} !important;
	--color-color-3-selected: #{getSelected($color-color-3)} !important;
	$color-color-1: #a379c9;
	--color-color-1: #{$color-color-1} !important;
	--color-color-1-hover: #{getHover($color-color-1)} !important;
	--color-color-1-selected: #{getSelected($color-color-1)} !important;
	$color-color-2: #eb9248;
	--color-color-2: #{$color-color-2} !important;
	--color-color-2-hover: #{getHover($color-color-2)} !important;
	--color-color-2-selected: #{getSelected($color-color-2)} !important;
	$color-color-4: #5ad8b2;
	--color-color-4: #{$color-color-4} !important;
	--color-color-4-hover: #{getHover($color-color-4)} !important;
	--color-color-4-selected: #{getSelected($color-color-4)} !important;
}

[data-theme="f-dark"] {
	$color-surface-subtle: #18202a;
	--color-surface-subtle: #{$color-surface-subtle} !important;
	--color-surface-subtle-hover: #{getHover($color-surface-subtle)} !important;
	--color-surface-subtle-selected: #{getSelected($color-surface-subtle)} !important;
	$color-danger-secondary: #f28c8c;
	--color-danger-secondary: #{$color-danger-secondary} !important;
	--color-danger-secondary-hover: #{getHover($color-danger-secondary)} !important;
	--color-danger-secondary-selected: #{getSelected($color-danger-secondary)} !important;
	$color-primary-secondary: #66b9ff;
	--color-primary-secondary: #{$color-primary-secondary} !important;
	--color-primary-secondary-hover: #{getHover($color-primary-secondary)} !important;
	--color-primary-secondary-selected: #{getSelected($color-primary-secondary)} !important;
	$color-highlight-text: #d1c2f0;
	--color-highlight-text: #{$color-highlight-text} !important;
	--color-highlight-text-hover: #{getHover($color-highlight-text)} !important;
	--color-highlight-text-selected: #{getSelected($color-highlight-text)} !important;
	$color-success-default: #66cc69;
	--color-success-default: #{$color-success-default} !important;
	--color-success-default-hover: #{getHover($color-success-default)} !important;
	--color-success-default-selected: #{getSelected($color-success-default)} !important;
	$color-primary-default: #42a0f0;
	--color-primary-default: #{$color-primary-default} !important;
	--color-primary-default-hover: #{getHover($color-primary-default)} !important;
	--color-primary-default-selected: #{getSelected($color-primary-default)} !important;
	$color-highlight-secondary: #a285e0;
	--color-highlight-secondary: #{$color-highlight-secondary} !important;
	--color-highlight-secondary-hover: #{getHover($color-highlight-secondary)} !important;
	--color-highlight-secondary-selected: #{getSelected($color-highlight-secondary)} !important;
	$color-success-text: #dbf0dc;
	--color-success-text: #{$color-success-text} !important;
	--color-success-text-hover: #{getHover($color-success-text)} !important;
	--color-success-text-selected: #{getSelected($color-success-text)} !important;
	$color-border-subtle: #304055;
	--color-border-subtle: #{$color-border-subtle} !important;
	--color-border-subtle-hover: #{getHover($color-border-subtle)} !important;
	--color-border-subtle-selected: #{getSelected($color-border-subtle)} !important;
	$color-surface-secondary: #2a3747;
	--color-surface-secondary: #{$color-surface-secondary} !important;
	--color-surface-secondary-hover: #{getHover($color-surface-secondary)} !important;
	--color-surface-secondary-selected: #{getSelected($color-surface-secondary)} !important;
	$color-neutral-text: #eceef3;
	--color-neutral-text: #{$color-neutral-text} !important;
	--color-neutral-text-hover: #{getHover($color-neutral-text)} !important;
	--color-neutral-text-selected: #{getSelected($color-neutral-text)} !important;
	$color-neutral-secondary: #8fa6c7;
	--color-neutral-secondary: #{$color-neutral-secondary} !important;
	--color-neutral-secondary-hover: #{getHover($color-neutral-secondary)} !important;
	--color-neutral-secondary-selected: #{getSelected($color-neutral-secondary)} !important;
	$color-neutral-default: #6682aa;
	--color-neutral-default: #{$color-neutral-default} !important;
	--color-neutral-default-hover: #{getHover($color-neutral-default)} !important;
	--color-neutral-default-selected: #{getSelected($color-neutral-default)} !important;
	$color-neutral-subtle: #475a74;
	--color-neutral-subtle: #{$color-neutral-subtle} !important;
	--color-neutral-subtle-hover: #{getHover($color-neutral-subtle)} !important;
	--color-neutral-subtle-selected: #{getSelected($color-neutral-subtle)} !important;
	$color-neutral-surface: #202a36;
	--color-neutral-surface: #{$color-neutral-surface} !important;
	--color-neutral-surface-hover: #{getHover($color-neutral-surface)} !important;
	--color-neutral-surface-selected: #{getSelected($color-neutral-surface)} !important;
	$color-icon-default: #bfcad9;
	--color-icon-default: #{$color-icon-default} !important;
	--color-icon-default-hover: #{getHover($color-icon-default)} !important;
	--color-icon-default-selected: #{getSelected($color-icon-default)} !important;
	$color-success-secondary: #7de881;
	--color-success-secondary: #{$color-success-secondary} !important;
	--color-success-secondary-hover: #{getHover($color-success-secondary)} !important;
	--color-success-secondary-selected: #{getSelected($color-success-secondary)} !important;
	$color-icon-secondary: #98abc3;
	--color-icon-secondary: #{$color-icon-secondary} !important;
	--color-icon-secondary-hover: #{getHover($color-icon-secondary)} !important;
	--color-icon-secondary-selected: #{getSelected($color-icon-secondary)} !important;
	$color-highlight-subtle: #6243a3;
	--color-highlight-subtle: #{$color-highlight-subtle} !important;
	--color-highlight-subtle-hover: #{getHover($color-highlight-subtle)} !important;
	--color-highlight-subtle-selected: #{getSelected($color-highlight-subtle)} !important;
	$color-icon-subtle: #556f91;
	--color-icon-subtle: #{$color-icon-subtle} !important;
	--color-icon-subtle-hover: #{getHover($color-icon-subtle)} !important;
	--color-icon-subtle-selected: #{getSelected($color-icon-subtle)} !important;
	$color-success-subtle: #3d8f40;
	--color-success-subtle: #{$color-success-subtle} !important;
	--color-success-subtle-hover: #{getHover($color-success-subtle)} !important;
	--color-success-subtle-selected: #{getSelected($color-success-subtle)} !important;
	$color-text-default: #dfe4ec;
	--color-text-default: #{$color-text-default} !important;
	--color-text-default-hover: #{getHover($color-text-default)} !important;
	--color-text-default-selected: #{getSelected($color-text-default)} !important;
	$color-warning-secondary: #ffcc66;
	--color-warning-secondary: #{$color-warning-secondary} !important;
	--color-warning-secondary-hover: #{getHover($color-warning-secondary)} !important;
	--color-warning-secondary-selected: #{getSelected($color-warning-secondary)} !important;
	$color-text-secondary: #aebdd0;
	--color-text-secondary: #{$color-text-secondary} !important;
	--color-text-secondary-hover: #{getHover($color-text-secondary)} !important;
	--color-text-secondary-selected: #{getSelected($color-text-secondary)} !important;
	$color-warning-default: #ebb447;
	--color-warning-default: #{$color-warning-default} !important;
	--color-warning-default-hover: #{getHover($color-warning-default)} !important;
	--color-warning-default-selected: #{getSelected($color-warning-default)} !important;
	$color-text-subtle: #5a7495;
	--color-text-subtle: #{$color-text-subtle} !important;
	--color-text-subtle-hover: #{getHover($color-text-subtle)} !important;
	--color-text-subtle-selected: #{getSelected($color-text-subtle)} !important;
	$color-warning-subtle: #cc8800;
	--color-warning-subtle: #{$color-warning-subtle} !important;
	--color-warning-subtle-hover: #{getHover($color-warning-subtle)} !important;
	--color-warning-subtle-selected: #{getSelected($color-warning-subtle)} !important;
	$color-warning-text: #ffeecc;
	--color-warning-text: #{$color-warning-text} !important;
	--color-warning-text-hover: #{getHover($color-warning-text)} !important;
	--color-warning-text-selected: #{getSelected($color-warning-text)} !important;
	$color-surface-default: #202a36;
	--color-surface-default: #{$color-surface-default} !important;
	--color-surface-default-hover: #{getHover($color-surface-default)} !important;
	--color-surface-default-selected: #{getSelected($color-surface-default)} !important;
	$color-highlight-default: #9267e9;
	--color-highlight-default: #{$color-highlight-default} !important;
	--color-highlight-default-hover: #{getHover($color-highlight-default)} !important;
	--color-highlight-default-selected: #{getSelected($color-highlight-default)} !important;
	$color-primary-subtle: #006ecc;
	--color-primary-subtle: #{$color-primary-subtle} !important;
	--color-primary-subtle-hover: #{getHover($color-primary-subtle)} !important;
	--color-primary-subtle-selected: #{getSelected($color-primary-subtle)} !important;
	$color-danger-subtle: #c44040;
	--color-danger-subtle: #{$color-danger-subtle} !important;
	--color-danger-subtle-hover: #{getHover($color-danger-subtle)} !important;
	--color-danger-subtle-selected: #{getSelected($color-danger-subtle)} !important;
	$color-danger-default: #dd5f5f;
	--color-danger-default: #{$color-danger-default} !important;
	--color-danger-default-hover: #{getHover($color-danger-default)} !important;
	--color-danger-default-selected: #{getSelected($color-danger-default)} !important;
	$color-danger-text: #fad1d1;
	--color-danger-text: #{$color-danger-text} !important;
	--color-danger-text-hover: #{getHover($color-danger-text)} !important;
	--color-danger-text-selected: #{getSelected($color-danger-text)} !important;
	$color-danger-surface: #2b1f1f;
	--color-danger-surface: #{$color-danger-surface} !important;
	--color-danger-surface-hover: #{getHover($color-danger-surface)} !important;
	--color-danger-surface-selected: #{getSelected($color-danger-surface)} !important;
	$color-success-surface: #232f23;
	--color-success-surface: #{$color-success-surface} !important;
	--color-success-surface-hover: #{getHover($color-success-surface)} !important;
	--color-success-surface-selected: #{getSelected($color-success-surface)} !important;
	$color-primary-surface: #102334;
	--color-primary-surface: #{$color-primary-surface} !important;
	--color-primary-surface-hover: #{getHover($color-primary-surface)} !important;
	--color-primary-surface-selected: #{getSelected($color-primary-surface)} !important;
	$color-highlight-surface: #251e34;
	--color-highlight-surface: #{$color-highlight-surface} !important;
	--color-highlight-surface-hover: #{getHover($color-highlight-surface)} !important;
	--color-highlight-surface-selected: #{getSelected($color-highlight-surface)} !important;
	$color-selected: #792525;
	--color-selected: #{$color-selected} !important;
	--color-selected-hover: #{getHover($color-selected)} !important;
	--color-selected-selected: #{getSelected($color-selected)} !important;
	$color-hover: #33a2ff;
	--color-hover: #{$color-hover} !important;
	--color-hover-hover: #{getHover($color-hover)} !important;
	--color-hover-selected: #{getSelected($color-hover)} !important;
	$color-border-secondary: #394f6a;
	--color-border-secondary: #{$color-border-secondary} !important;
	--color-border-secondary-hover: #{getHover($color-border-secondary)} !important;
	--color-border-secondary-selected: #{getSelected($color-border-secondary)} !important;
	$color-border-default: #486284;
	--color-border-default: #{$color-border-default} !important;
	--color-border-default-hover: #{getHover($color-border-default)} !important;
	--color-border-default-selected: #{getSelected($color-border-default)} !important;
	$color-input-default: #37485c;
	--color-input-default: #{$color-input-default} !important;
	--color-input-default-hover: #{getHover($color-input-default)} !important;
	--color-input-default-selected: #{getSelected($color-input-default)} !important;
	$color-surface-tertiary: #303e50;
	--color-surface-tertiary: #{$color-surface-tertiary} !important;
	--color-surface-tertiary-hover: #{getHover($color-surface-tertiary)} !important;
	--color-surface-tertiary-selected: #{getSelected($color-surface-tertiary)} !important;
	$color-primary-text: #cce8ff;
	--color-primary-text: #{$color-primary-text} !important;
	--color-primary-text-hover: #{getHover($color-primary-text)} !important;
	--color-primary-text-selected: #{getSelected($color-primary-text)} !important;
	$color-color-2: #e3b23c;
	--color-color-2: #{$color-color-2} !important;
	--color-color-2-hover: #{getHover($color-color-2)} !important;
	--color-color-2-selected: #{getSelected($color-color-2)} !important;
	$color-color-1: #9ba2ff;
	--color-color-1: #{$color-color-1} !important;
	--color-color-1-hover: #{getHover($color-color-1)} !important;
	--color-color-1-selected: #{getSelected($color-color-1)} !important;
	$color-color-6: #d1603d;
	--color-color-6: #{$color-color-6} !important;
	--color-color-6-hover: #{getHover($color-color-6)} !important;
	--color-color-6-selected: #{getSelected($color-color-6)} !important;
	$color-color-4: #86d6be;
	--color-color-4: #{$color-color-4} !important;
	--color-color-4-hover: #{getHover($color-color-4)} !important;
	--color-color-4-selected: #{getSelected($color-color-4)} !important;
	$color-color-5: #d183c9;
	--color-color-5: #{$color-color-5} !important;
	--color-color-5-hover: #{getHover($color-color-5)} !important;
	--color-color-5-selected: #{getSelected($color-color-5)} !important;
	$color-color-3: #82a749;
	--color-color-3: #{$color-color-3} !important;
	--color-color-3-hover: #{getHover($color-color-3)} !important;
	--color-color-3-selected: #{getSelected($color-color-3)} !important;
	$color-warning-surface: #322814;
	--color-warning-surface: #{$color-warning-surface} !important;
	--color-warning-surface-hover: #{getHover($color-warning-surface)} !important;
	--color-warning-surface-selected: #{getSelected($color-warning-surface)} !important;
}

[data-theme="f-ollion-light"] {
	$color-color-6: #c1911b;
	--color-color-6: #{$color-color-6} !important;
	--color-color-6-hover: #{getHover($color-color-6)} !important;
	--color-color-6-selected: #{getSelected($color-color-6)} !important;
	$color-color-2: #d8948b;
	--color-color-2: #{$color-color-2} !important;
	--color-color-2-hover: #{getHover($color-color-2)} !important;
	--color-color-2-selected: #{getSelected($color-color-2)} !important;
	$color-color-5: #01777a;
	--color-color-5: #{$color-color-5} !important;
	--color-color-5-hover: #{getHover($color-color-5)} !important;
	--color-color-5-selected: #{getSelected($color-color-5)} !important;
	$color-color-4: #2f3a4c;
	--color-color-4: #{$color-color-4} !important;
	--color-color-4-hover: #{getHover($color-color-4)} !important;
	--color-color-4-selected: #{getSelected($color-color-4)} !important;
	$color-color-3: #ec4632;
	--color-color-3: #{$color-color-3} !important;
	--color-color-3-hover: #{getHover($color-color-3)} !important;
	--color-color-3-selected: #{getSelected($color-color-3)} !important;
	$color-danger-text: #290a0a;
	--color-danger-text: #{$color-danger-text} !important;
	--color-danger-text-hover: #{getHover($color-danger-text)} !important;
	--color-danger-text-selected: #{getSelected($color-danger-text)} !important;
	$color-color-1: #3b4430;
	--color-color-1: #{$color-color-1} !important;
	--color-color-1-hover: #{getHover($color-color-1)} !important;
	--color-color-1-selected: #{getSelected($color-color-1)} !important;
	$color-success-text: #18280b;
	--color-success-text: #{$color-success-text} !important;
	--color-success-text-hover: #{getHover($color-success-text)} !important;
	--color-success-text-selected: #{getSelected($color-success-text)} !important;
	$color-neutral-surface: #f2edeb;
	--color-neutral-surface: #{$color-neutral-surface} !important;
	--color-neutral-surface-hover: #{getHover($color-neutral-surface)} !important;
	--color-neutral-surface-selected: #{getSelected($color-neutral-surface)} !important;
	$color-icon-default: #231f1a;
	--color-icon-default: #{$color-icon-default} !important;
	--color-icon-default-hover: #{getHover($color-icon-default)} !important;
	--color-icon-default-selected: #{getSelected($color-icon-default)} !important;
	$color-input-default: #dad5d3;
	--color-input-default: #{$color-input-default} !important;
	--color-input-default-hover: #{getHover($color-input-default)} !important;
	--color-input-default-selected: #{getSelected($color-input-default)} !important;
	$color-danger-surface: #f6dede;
	--color-danger-surface: #{$color-danger-surface} !important;
	--color-danger-surface-hover: #{getHover($color-danger-surface)} !important;
	--color-danger-surface-selected: #{getSelected($color-danger-surface)} !important;
	$color-primary-surface: #d3f8f8;
	--color-primary-surface: #{$color-primary-surface} !important;
	--color-primary-surface-hover: #{getHover($color-primary-surface)} !important;
	--color-primary-surface-selected: #{getSelected($color-primary-surface)} !important;
	$color-highlight-default: #8b64d8;
	--color-highlight-default: #{$color-highlight-default} !important;
	--color-highlight-default-hover: #{getHover($color-highlight-default)} !important;
	--color-highlight-default-selected: #{getSelected($color-highlight-default)} !important;
	$color-neutral-subtle: #beb7b5;
	--color-neutral-subtle: #{$color-neutral-subtle} !important;
	--color-neutral-subtle-hover: #{getHover($color-neutral-subtle)} !important;
	--color-neutral-subtle-selected: #{getSelected($color-neutral-subtle)} !important;
	$color-primary-secondary: #144142;
	--color-primary-secondary: #{$color-primary-secondary} !important;
	--color-primary-secondary-hover: #{getHover($color-primary-secondary)} !important;
	--color-primary-secondary-selected: #{getSelected($color-primary-secondary)} !important;
	$color-border-default: #b1a69f;
	--color-border-default: #{$color-border-default} !important;
	--color-border-default-hover: #{getHover($color-border-default)} !important;
	--color-border-default-selected: #{getSelected($color-border-default)} !important;
	$color-surface-subtle: #eee5df;
	--color-surface-subtle: #{$color-surface-subtle} !important;
	--color-surface-subtle-hover: #{getHover($color-surface-subtle)} !important;
	--color-surface-subtle-selected: #{getSelected($color-surface-subtle)} !important;
	$color-text-subtle: #695f59;
	--color-text-subtle: #{$color-text-subtle} !important;
	--color-text-subtle-hover: #{getHover($color-text-subtle)} !important;
	--color-text-subtle-selected: #{getSelected($color-text-subtle)} !important;
	$color-border-secondary: #c8c2be;
	--color-border-secondary: #{$color-border-secondary} !important;
	--color-border-secondary-hover: #{getHover($color-border-secondary)} !important;
	--color-border-secondary-selected: #{getSelected($color-border-secondary)} !important;
	$color-border-subtle: #dcd8d6;
	--color-border-subtle: #{$color-border-subtle} !important;
	--color-border-subtle-hover: #{getHover($color-border-subtle)} !important;
	--color-border-subtle-selected: #{getSelected($color-border-subtle)} !important;
	$color-warning-default: #a27210;
	--color-warning-default: #{$color-warning-default} !important;
	--color-warning-default-hover: #{getHover($color-warning-default)} !important;
	--color-warning-default-selected: #{getSelected($color-warning-default)} !important;
	$color-surface-default: #fbfaf9;
	--color-surface-default: #{$color-surface-default} !important;
	--color-surface-default-hover: #{getHover($color-surface-default)} !important;
	--color-surface-default-selected: #{getSelected($color-surface-default)} !important;
	$color-surface-tertiary: #e1dbd7;
	--color-surface-tertiary: #{$color-surface-tertiary} !important;
	--color-surface-tertiary-hover: #{getHover($color-surface-tertiary)} !important;
	--color-surface-tertiary-selected: #{getSelected($color-surface-tertiary)} !important;
	$color-surface-secondary: #edebe9;
	--color-surface-secondary: #{$color-surface-secondary} !important;
	--color-surface-secondary-hover: #{getHover($color-surface-secondary)} !important;
	--color-surface-secondary-selected: #{getSelected($color-surface-secondary)} !important;
	$color-warning-surface: #faedd1;
	--color-warning-surface: #{$color-warning-surface} !important;
	--color-warning-surface-hover: #{getHover($color-warning-surface)} !important;
	--color-warning-surface-selected: #{getSelected($color-warning-surface)} !important;
	$color-icon-secondary: #6d6655;
	--color-icon-secondary: #{$color-icon-secondary} !important;
	--color-icon-secondary-hover: #{getHover($color-icon-secondary)} !important;
	--color-icon-secondary-selected: #{getSelected($color-icon-secondary)} !important;
	$color-success-default: #538a28;
	--color-success-default: #{$color-success-default} !important;
	--color-success-default-hover: #{getHover($color-success-default)} !important;
	--color-success-default-selected: #{getSelected($color-success-default)} !important;
	$color-success-subtle: #a3c588;
	--color-success-subtle: #{$color-success-subtle} !important;
	--color-success-subtle-hover: #{getHover($color-success-subtle)} !important;
	--color-success-subtle-selected: #{getSelected($color-success-subtle)} !important;
	$color-neutral-secondary: #524b3d;
	--color-neutral-secondary: #{$color-neutral-secondary} !important;
	--color-neutral-secondary-hover: #{getHover($color-neutral-secondary)} !important;
	--color-neutral-secondary-selected: #{getSelected($color-neutral-secondary)} !important;
	$color-primary-subtle: #80cccd;
	--color-primary-subtle: #{$color-primary-subtle} !important;
	--color-primary-subtle-hover: #{getHover($color-primary-subtle)} !important;
	--color-primary-subtle-selected: #{getSelected($color-primary-subtle)} !important;
	$color-danger-default: #d64c4c;
	--color-danger-default: #{$color-danger-default} !important;
	--color-danger-default-hover: #{getHover($color-danger-default)} !important;
	--color-danger-default-selected: #{getSelected($color-danger-default)} !important;
	$color-danger-secondary: #842b2b;
	--color-danger-secondary: #{$color-danger-secondary} !important;
	--color-danger-secondary-hover: #{getHover($color-danger-secondary)} !important;
	--color-danger-secondary-selected: #{getSelected($color-danger-secondary)} !important;
	$color-highlight-subtle: #b5a0df;
	--color-highlight-subtle: #{$color-highlight-subtle} !important;
	--color-highlight-subtle-hover: #{getHover($color-highlight-subtle)} !important;
	--color-highlight-subtle-selected: #{getSelected($color-highlight-subtle)} !important;
	$color-primary-text: #052323;
	--color-primary-text: #{$color-primary-text} !important;
	--color-primary-text-hover: #{getHover($color-primary-text)} !important;
	--color-primary-text-selected: #{getSelected($color-primary-text)} !important;
	$color-success-surface: #e4f4d7;
	--color-success-surface: #{$color-success-surface} !important;
	--color-success-surface-hover: #{getHover($color-success-surface)} !important;
	--color-success-surface-selected: #{getSelected($color-success-surface)} !important;
	$color-warning-secondary: #6b4d0f;
	--color-warning-secondary: #{$color-warning-secondary} !important;
	--color-warning-secondary-hover: #{getHover($color-warning-secondary)} !important;
	--color-warning-secondary-selected: #{getSelected($color-warning-secondary)} !important;
	$color-icon-subtle: #857b6f;
	--color-icon-subtle: #{$color-icon-subtle} !important;
	--color-icon-subtle-hover: #{getHover($color-icon-subtle)} !important;
	--color-icon-subtle-selected: #{getSelected($color-icon-subtle)} !important;
	$color-danger-subtle: #e4a4a4;
	--color-danger-subtle: #{$color-danger-subtle} !important;
	--color-danger-subtle-hover: #{getHover($color-danger-subtle)} !important;
	--color-danger-subtle-selected: #{getSelected($color-danger-subtle)} !important;
	$color-neutral-text: #1d1b16;
	--color-neutral-text: #{$color-neutral-text} !important;
	--color-neutral-text-hover: #{getHover($color-neutral-text)} !important;
	--color-neutral-text-selected: #{getSelected($color-neutral-text)} !important;
	$color-highlight-surface: #e7def7;
	--color-highlight-surface: #{$color-highlight-surface} !important;
	--color-highlight-surface-hover: #{getHover($color-highlight-surface)} !important;
	--color-highlight-surface-selected: #{getSelected($color-highlight-surface)} !important;
	$color-text-default: #121311;
	--color-text-default: #{$color-text-default} !important;
	--color-text-default-hover: #{getHover($color-text-default)} !important;
	--color-text-default-selected: #{getSelected($color-text-default)} !important;
	$color-neutral-default: #877c64;
	--color-neutral-default: #{$color-neutral-default} !important;
	--color-neutral-default-hover: #{getHover($color-neutral-default)} !important;
	--color-neutral-default-selected: #{getSelected($color-neutral-default)} !important;
	$color-text-secondary: #503b30;
	--color-text-secondary: #{$color-text-secondary} !important;
	--color-text-secondary-hover: #{getHover($color-text-secondary)} !important;
	--color-text-secondary-selected: #{getSelected($color-text-secondary)} !important;
	$color-primary-default: #158789;
	--color-primary-default: #{$color-primary-default} !important;
	--color-primary-default-hover: #{getHover($color-primary-default)} !important;
	--color-primary-default-selected: #{getSelected($color-primary-default)} !important;
	$color-warning-text: #2e2105;
	--color-warning-text: #{$color-warning-text} !important;
	--color-warning-text-hover: #{getHover($color-warning-text)} !important;
	--color-warning-text-selected: #{getSelected($color-warning-text)} !important;
	$color-warning-subtle: #e0c182;
	--color-warning-subtle: #{$color-warning-subtle} !important;
	--color-warning-subtle-hover: #{getHover($color-warning-subtle)} !important;
	--color-warning-subtle-selected: #{getSelected($color-warning-subtle)} !important;
	$color-highlight-secondary: #4c2f87;
	--color-highlight-secondary: #{$color-highlight-secondary} !important;
	--color-highlight-secondary-hover: #{getHover($color-highlight-secondary)} !important;
	--color-highlight-secondary-selected: #{getSelected($color-highlight-secondary)} !important;
	$color-highlight-text: #150a29;
	--color-highlight-text: #{$color-highlight-text} !important;
	--color-highlight-text-hover: #{getHover($color-highlight-text)} !important;
	--color-highlight-text-selected: #{getSelected($color-highlight-text)} !important;
	$color-success-secondary: #2e550f;
	--color-success-secondary: #{$color-success-secondary} !important;
	--color-success-secondary-hover: #{getHover($color-success-secondary)} !important;
	--color-success-secondary-selected: #{getSelected($color-success-secondary)} !important;
}

[data-theme="f-ollion-dark"] {
	$color-danger-secondary: #ef9090;
	--color-danger-secondary: #{$color-danger-secondary} !important;
	--color-danger-secondary-hover: #{getHover($color-danger-secondary)} !important;
	--color-danger-secondary-selected: #{getSelected($color-danger-secondary)} !important;
	$color-color-5: #01777a;
	--color-color-5: #{$color-color-5} !important;
	--color-color-5-hover: #{getHover($color-color-5)} !important;
	--color-color-5-selected: #{getSelected($color-color-5)} !important;
	$color-color-4: #2f3a4c;
	--color-color-4: #{$color-color-4} !important;
	--color-color-4-hover: #{getHover($color-color-4)} !important;
	--color-color-4-selected: #{getSelected($color-color-4)} !important;
	$color-color-1: #3b4430;
	--color-color-1: #{$color-color-1} !important;
	--color-color-1-hover: #{getHover($color-color-1)} !important;
	--color-color-1-selected: #{getSelected($color-color-1)} !important;
	$color-color-6: #c1911b;
	--color-color-6: #{$color-color-6} !important;
	--color-color-6-hover: #{getHover($color-color-6)} !important;
	--color-color-6-selected: #{getSelected($color-color-6)} !important;
	$color-color-2: #d8948b;
	--color-color-2: #{$color-color-2} !important;
	--color-color-2-hover: #{getHover($color-color-2)} !important;
	--color-color-2-selected: #{getSelected($color-color-2)} !important;
	$color-color-3: #ec4632;
	--color-color-3: #{$color-color-3} !important;
	--color-color-3-hover: #{getHover($color-color-3)} !important;
	--color-color-3-selected: #{getSelected($color-color-3)} !important;
	$color-border-subtle: #36392d;
	--color-border-subtle: #{$color-border-subtle} !important;
	--color-border-subtle-hover: #{getHover($color-border-subtle)} !important;
	--color-border-subtle-selected: #{getSelected($color-border-subtle)} !important;
	$color-border-default: #72785e;
	--color-border-default: #{$color-border-default} !important;
	--color-border-default-hover: #{getHover($color-border-default)} !important;
	--color-border-default-selected: #{getSelected($color-border-default)} !important;
	$color-border-secondary: #515643;
	--color-border-secondary: #{$color-border-secondary} !important;
	--color-border-secondary-hover: #{getHover($color-border-secondary)} !important;
	--color-border-secondary-selected: #{getSelected($color-border-secondary)} !important;
	$color-warning-surface: #231a10;
	--color-warning-surface: #{$color-warning-surface} !important;
	--color-warning-surface-hover: #{getHover($color-warning-surface)} !important;
	--color-warning-surface-selected: #{getSelected($color-warning-surface)} !important;
	$color-highlight-text: #e1d8f3;
	--color-highlight-text: #{$color-highlight-text} !important;
	--color-highlight-text-hover: #{getHover($color-highlight-text)} !important;
	--color-highlight-text-selected: #{getSelected($color-highlight-text)} !important;
	$color-success-secondary: #bdd194;
	--color-success-secondary: #{$color-success-secondary} !important;
	--color-success-secondary-hover: #{getHover($color-success-secondary)} !important;
	--color-success-secondary-selected: #{getSelected($color-success-secondary)} !important;
	$color-neutral-secondary: #b4baa7;
	--color-neutral-secondary: #{$color-neutral-secondary} !important;
	--color-neutral-secondary-hover: #{getHover($color-neutral-secondary)} !important;
	--color-neutral-secondary-selected: #{getSelected($color-neutral-secondary)} !important;
	$color-neutral-surface: #1b1d17;
	--color-neutral-surface: #{$color-neutral-surface} !important;
	--color-neutral-surface-hover: #{getHover($color-neutral-surface)} !important;
	--color-neutral-surface-selected: #{getSelected($color-neutral-surface)} !important;
	$color-input-default: #383c2f;
	--color-input-default: #{$color-input-default} !important;
	--color-input-default-hover: #{getHover($color-input-default)} !important;
	--color-input-default-selected: #{getSelected($color-input-default)} !important;
	$color-icon-secondary: #a0a78b;
	--color-icon-secondary: #{$color-icon-secondary} !important;
	--color-icon-secondary-hover: #{getHover($color-icon-secondary)} !important;
	--color-icon-secondary-selected: #{getSelected($color-icon-secondary)} !important;
	$color-neutral-default: #808a6d;
	--color-neutral-default: #{$color-neutral-default} !important;
	--color-neutral-default-hover: #{getHover($color-neutral-default)} !important;
	--color-neutral-default-selected: #{getSelected($color-neutral-default)} !important;
	$color-neutral-text: #e6e8e2;
	--color-neutral-text: #{$color-neutral-text} !important;
	--color-neutral-text-hover: #{getHover($color-neutral-text)} !important;
	--color-neutral-text-selected: #{getSelected($color-neutral-text)} !important;
	$color-success-subtle: #546237;
	--color-success-subtle: #{$color-success-subtle} !important;
	--color-success-subtle-hover: #{getHover($color-success-subtle)} !important;
	--color-success-subtle-selected: #{getSelected($color-success-subtle)} !important;
	$color-primary-secondary: #7ae9eb;
	--color-primary-secondary: #{$color-primary-secondary} !important;
	--color-primary-secondary-hover: #{getHover($color-primary-secondary)} !important;
	--color-primary-secondary-selected: #{getSelected($color-primary-secondary)} !important;
	$color-primary-subtle: #237476;
	--color-primary-subtle: #{$color-primary-subtle} !important;
	--color-primary-subtle-hover: #{getHover($color-primary-subtle)} !important;
	--color-primary-subtle-selected: #{getSelected($color-primary-subtle)} !important;
	$color-highlight-secondary: #b5a2dd;
	--color-highlight-secondary: #{$color-highlight-secondary} !important;
	--color-highlight-secondary-hover: #{getHover($color-highlight-secondary)} !important;
	--color-highlight-secondary-selected: #{getSelected($color-highlight-secondary)} !important;
	$color-warning-default: #bd8442;
	--color-warning-default: #{$color-warning-default} !important;
	--color-warning-default-hover: #{getHover($color-warning-default)} !important;
	--color-warning-default-selected: #{getSelected($color-warning-default)} !important;
	$color-primary-text: #d0fafb;
	--color-primary-text: #{$color-primary-text} !important;
	--color-primary-text-hover: #{getHover($color-primary-text)} !important;
	--color-primary-text-selected: #{getSelected($color-primary-text)} !important;
	$color-icon-default: #c3c6b9;
	--color-icon-default: #{$color-icon-default} !important;
	--color-icon-default-hover: #{getHover($color-icon-default)} !important;
	--color-icon-default-selected: #{getSelected($color-icon-default)} !important;
	$color-highlight-surface: #171221;
	--color-highlight-surface: #{$color-highlight-surface} !important;
	--color-highlight-surface-hover: #{getHover($color-highlight-surface)} !important;
	--color-highlight-surface-selected: #{getSelected($color-highlight-surface)} !important;
	$color-highlight-subtle: #4e3a78;
	--color-highlight-subtle: #{$color-highlight-subtle} !important;
	--color-highlight-subtle-hover: #{getHover($color-highlight-subtle)} !important;
	--color-highlight-subtle-selected: #{getSelected($color-highlight-subtle)} !important;
	$color-highlight-default: #8569be;
	--color-highlight-default: #{$color-highlight-default} !important;
	--color-highlight-default-hover: #{getHover($color-highlight-default)} !important;
	--color-highlight-default-selected: #{getSelected($color-highlight-default)} !important;
	$color-neutral-subtle: #494f3e;
	--color-neutral-subtle: #{$color-neutral-subtle} !important;
	--color-neutral-subtle-hover: #{getHover($color-neutral-subtle)} !important;
	--color-neutral-subtle-selected: #{getSelected($color-neutral-subtle)} !important;
	$color-warning-secondary: #dcb589;
	--color-warning-secondary: #{$color-warning-secondary} !important;
	--color-warning-secondary-hover: #{getHover($color-warning-secondary)} !important;
	--color-warning-secondary-selected: #{getSelected($color-warning-secondary)} !important;
	$color-warning-subtle: #6d4f2c;
	--color-warning-subtle: #{$color-warning-subtle} !important;
	--color-warning-subtle-hover: #{getHover($color-warning-subtle)} !important;
	--color-warning-subtle-selected: #{getSelected($color-warning-subtle)} !important;
	$color-primary-surface: #0e2425;
	--color-primary-surface: #{$color-primary-surface} !important;
	--color-primary-surface-hover: #{getHover($color-primary-surface)} !important;
	--color-primary-surface-selected: #{getSelected($color-primary-surface)} !important;
	$color-danger-subtle: #892929;
	--color-danger-subtle: #{$color-danger-subtle} !important;
	--color-danger-subtle-hover: #{getHover($color-danger-subtle)} !important;
	--color-danger-subtle-selected: #{getSelected($color-danger-subtle)} !important;
	$color-success-text: #eaf1da;
	--color-success-text: #{$color-success-text} !important;
	--color-success-text-hover: #{getHover($color-success-text)} !important;
	--color-success-text-selected: #{getSelected($color-success-text)} !important;
	$color-icon-subtle: #525742;
	--color-icon-subtle: #{$color-icon-subtle} !important;
	--color-icon-subtle-hover: #{getHover($color-icon-subtle)} !important;
	--color-icon-subtle-selected: #{getSelected($color-icon-subtle)} !important;
	$color-surface-secondary: #272924;
	--color-surface-secondary: #{$color-surface-secondary} !important;
	--color-surface-secondary-hover: #{getHover($color-surface-secondary)} !important;
	--color-surface-secondary-selected: #{getSelected($color-surface-secondary)} !important;
	$color-text-secondary: #8f9188;
	--color-text-secondary: #{$color-text-secondary} !important;
	--color-text-secondary-hover: #{getHover($color-text-secondary)} !important;
	--color-text-secondary-selected: #{getSelected($color-text-secondary)} !important;
	$color-surface-tertiary: #22231f;
	--color-surface-tertiary: #{$color-surface-tertiary} !important;
	--color-surface-tertiary-hover: #{getHover($color-surface-tertiary)} !important;
	--color-surface-tertiary-selected: #{getSelected($color-surface-tertiary)} !important;
	$color-primary-default: #2dacae;
	--color-primary-default: #{$color-primary-default} !important;
	--color-primary-default-hover: #{getHover($color-primary-default)} !important;
	--color-primary-default-selected: #{getSelected($color-primary-default)} !important;
	$color-text-subtle: #a8a899;
	--color-text-subtle: #{$color-text-subtle} !important;
	--color-text-subtle-hover: #{getHover($color-text-subtle)} !important;
	--color-text-subtle-selected: #{getSelected($color-text-subtle)} !important;
	$color-danger-default: #cb5757;
	--color-danger-default: #{$color-danger-default} !important;
	--color-danger-default-hover: #{getHover($color-danger-default)} !important;
	--color-danger-default-selected: #{getSelected($color-danger-default)} !important;
	$color-text-default: #c3c6b9;
	--color-text-default: #{$color-text-default} !important;
	--color-text-default-hover: #{getHover($color-text-default)} !important;
	--color-text-default-selected: #{getSelected($color-text-default)} !important;
	$color-success-default: #a9c374;
	--color-success-default: #{$color-success-default} !important;
	--color-success-default-hover: #{getHover($color-success-default)} !important;
	--color-success-default-selected: #{getSelected($color-success-default)} !important;
	$color-surface-subtle: #0d0d0c;
	--color-surface-subtle: #{$color-surface-subtle} !important;
	--color-surface-subtle-hover: #{getHover($color-surface-subtle)} !important;
	--color-surface-subtle-selected: #{getSelected($color-surface-subtle)} !important;
	$color-success-surface: #2a2f1e;
	--color-success-surface: #{$color-success-surface} !important;
	--color-success-surface-hover: #{getHover($color-success-surface)} !important;
	--color-success-surface-selected: #{getSelected($color-success-surface)} !important;
	$color-surface-default: #1a1b18;
	--color-surface-default: #{$color-surface-default} !important;
	--color-surface-default-hover: #{getHover($color-surface-default)} !important;
	--color-surface-default-selected: #{getSelected($color-surface-default)} !important;
	$color-danger-text: #f9bdbd;
	--color-danger-text: #{$color-danger-text} !important;
	--color-danger-text-hover: #{getHover($color-danger-text)} !important;
	--color-danger-text-selected: #{getSelected($color-danger-text)} !important;
	$color-danger-surface: #281515;
	--color-danger-surface: #{$color-danger-surface} !important;
	--color-danger-surface-hover: #{getHover($color-danger-surface)} !important;
	--color-danger-surface-selected: #{getSelected($color-danger-surface)} !important;
	$color-warning-text: #f2e6d9;
	--color-warning-text: #{$color-warning-text} !important;
	--color-warning-text-hover: #{getHover($color-warning-text)} !important;
	--color-warning-text-selected: #{getSelected($color-warning-text)} !important;
}
