[data-theme="f-dark"],
[data-theme="f-light"] {
	--text-heading-medium-font: 16px;
	--text-heading-medium-lineheight: 22px;
	--text-heading-x-small-font: 12px;
	--text-heading-x-small-lineheight: 18px;
	--text-heading-large-font: 20px;
	--text-heading-large-lineheight: 28px;
	--text-heading-small-font: 14px;
	--text-heading-small-lineheight: 20px;
	--text-heading-x-large-font: 24px;
	--text-heading-x-large-lineheight: 32px;
	--text-para-medium-font: 14px;
	--text-para-medium-lineheight: 20px;
	--text-para-large-font: 16px;
	--text-para-large-lineheight: 22px;
	--text-para-x-small-font: 10px;
	--text-para-x-small-lineheight: 16px;
	--text-para-small-font: 12px;
	--text-para-small-lineheight: 18px;
	--text-code-x-small-font: 10px;
	--text-code-x-small-lineheight: 16px;
	--text-code-small-font: 12px;
	--text-code-small-lineheight: 18px;
	--text-code-large-font: 16px;
	--text-code-large-lineheight: 26px;
	--text-code-medium-font: 14px;
	--text-code-medium-lineheight: 22px;
	--text-medium-weight: 350;
	--text-regular-weight: 325;
	--text-bold-weight: 400;
	--flow-font: "Montserrat", sans-serif;
	--flow-code-font: "Courier Prime", monospace;
}
[data-theme="f-ollion-dark"],
[data-theme="f-ollion-light"] {
	--text-heading-x-large-font: 72px;
	--text-heading-x-large-lineheight: 79px;
	--text-heading-large-font: 64px;
	--text-heading-large-lineheight: 70px;
	--text-heading-medium-font: 44px;
	--text-heading-medium-lineheight: 49px;
	--text-heading-small-font: 36px;
	--text-heading-small-lineheight: 40px;
	--text-heading-x-small-font: 24px;
	--text-heading-x-small-lineheight: 27px;
	--text-para-small-font: 16px;
	--text-para-small-lineheight: 22px;
	--text-para-x-small-font: 12px;
	--text-para-x-small-lineheight: 17px;
	--text-para-medium-font: 20px;
	--text-para-medium-lineheight: 28px;
	--text-para-large-font: 24px;
	--text-para-large-lineheight: 34px;
	--text-code-medium-font: 20px;
	--text-code-medium-lineheight: 28px;
	--text-code-small-font: 16px;
	--text-code-small-lineheight: 22px;
	--text-code-large-font: 24px;
	--text-code-large-lineheight: 34px;
	--text-code-x-small-font: 12px;
	--text-code-x-small-lineheight: 17px;
	--text-medium-weight: 500;
	--text-bold-weight: 600;
	--text-regular-weight: 400;
	--flow-font: "Rhymes Display", serif;
	--flow-code-font: "Operator Mono", monospace;
}
