[data-theme="f-dark"],
[data-theme="f-light"] {
	--text-code-small-font: 12px;

	--text-code-small-lineheight: 18px;

	--text-code-small-medium: 350;

	--text-code-small-bold: 400;

	--text-code-small-regular: 325;

	--text-code-small-fontfamily: "Operator Mono", monospace;

	--text-code-large-font: 16px;

	--text-code-large-lineheight: 26px;

	--text-code-large-medium: 350;

	--text-code-large-bold: 400;

	--text-code-large-regular: 325;

	--text-code-large-fontfamily: "Operator Mono", monospace;

	--text-code-medium-font: 14px;

	--text-code-medium-lineheight: 22px;

	--text-code-medium-medium: 350;

	--text-code-medium-bold: 400;

	--text-code-medium-regular: 325;

	--text-code-medium-fontfamily: "Operator Mono", monospace;

	--text-code-x-small-font: 10px;

	--text-code-x-small-lineheight: 16px;

	--text-code-x-small-medium: 350;

	--text-code-x-small-bold: 400;

	--text-code-x-small-regular: 325;

	--text-code-x-small-fontfamily: "Operator Mono", monospace;

	--text-code-x-large-font: 20px;

	--text-code-x-large-lineheight: 32px;

	--text-code-x-large-medium: 350;

	--text-code-x-large-bold: 400;

	--text-code-x-large-regular: 325;

	--text-code-x-large-fontfamily: "Operator Mono", monospace;

	--text-para-x-small-font: 10px;

	--text-para-x-small-lineheight: 16px;

	--text-para-x-small-medium: 500;

	--text-para-x-small-bold: 700;

	--text-para-x-small-regular: 400;

	--text-para-x-small-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--text-para-large-font: 16px;

	--text-para-large-lineheight: 22px;

	--text-para-large-medium: 500;

	--text-para-large-bold: 700;

	--text-para-large-regular: 400;

	--text-para-large-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--text-para-medium-font: 14px;

	--text-para-medium-lineheight: 20px;

	--text-para-medium-medium: 500;

	--text-para-medium-bold: 700;

	--text-para-medium-regular: 400;

	--text-para-medium-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--text-para-small-font: 12px;

	--text-para-small-lineheight: 18px;

	--text-para-small-medium: 500;

	--text-para-small-bold: 700;

	--text-para-small-regular: 400;

	--text-para-small-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--text-para-x-large-font: 20px;

	--text-para-x-large-lineheight: 28px;

	--text-para-x-large-medium: 500;

	--text-para-x-large-bold: 700;

	--text-para-x-large-regular: 400;

	--text-para-x-large-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--text-heading-x-small-font: 12px;

	--text-heading-x-small-lineheight: 18px;

	--text-heading-x-small-medium: 500;

	--text-heading-x-small-bold: 700;

	--text-heading-x-small-regular: 400;

	--text-heading-x-small-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--text-heading-small-font: 14px;

	--text-heading-small-lineheight: 20px;

	--text-heading-small-medium: 500;

	--text-heading-small-bold: 700;

	--text-heading-small-regular: 400;

	--text-heading-small-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--text-heading-x-large-font: 24px;

	--text-heading-x-large-lineheight: 32px;

	--text-heading-x-large-medium: 500;

	--text-heading-x-large-bold: 700;

	--text-heading-x-large-regular: 400;

	--text-heading-x-large-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--text-heading-medium-font: 16px;

	--text-heading-medium-lineheight: 22px;

	--text-heading-medium-medium: 500;

	--text-heading-medium-bold: 700;

	--text-heading-medium-regular: 400;

	--text-heading-medium-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--text-heading-large-font: 20px;

	--text-heading-large-lineheight: 28px;

	--text-heading-large-medium: 500;

	--text-heading-large-bold: 700;

	--text-heading-large-regular: 400;

	--text-heading-large-fontfamily: "Montserrat", "Montserrat", sans-serif;

	--flow-font: "Montserrat", "Montserrat", sans-serif;

	--flow-code-font: "Operator Mono", monospace;
}

[data-theme="f-ollion-dark"],
[data-theme="f-ollion-light"] {
	--text-code-medium-font: 14px;

	--text-code-medium-lineheight: 1.4;

	--text-code-medium-medium: 350;

	--text-code-medium-bold: 400;

	--text-code-medium-regular: 325;

	--text-code-medium-fontfamily: "Operator Mono", monospace;

	--text-code-x-small-font: 10px;

	--text-code-x-small-lineheight: 1.4;

	--text-code-x-small-medium: 350;

	--text-code-x-small-bold: 400;

	--text-code-x-small-regular: 325;

	--text-code-x-small-fontfamily: "Operator Mono", monospace;

	--text-code-large-font: 16px;

	--text-code-large-lineheight: 1.4;

	--text-code-large-medium: 350;

	--text-code-large-bold: 400;

	--text-code-large-regular: 325;

	--text-code-large-fontfamily: "Operator Mono", monospace;

	--text-code-small-font: 12px;

	--text-code-small-lineheight: 1.4;

	--text-code-small-medium: 500;

	--text-code-small-bold: 400;

	--text-code-small-regular: 325;

	--text-code-small-fontfamily: "Inter", monospace;

	--text-code-x-large-font: 20px;

	--text-code-x-large-lineheight: 1.4;

	--text-code-x-large-medium: 350;

	--text-code-x-large-bold: 400;

	--text-code-x-large-regular: 325;

	--text-code-x-large-fontfamily: "Operator Mono", monospace;

	--text-heading-large-font: 20px;

	--text-heading-large-lineheight: 1.2;

	--text-heading-large-medium: 500;

	--text-heading-large-bold: 700;

	--text-heading-large-regular: 400;

	--text-heading-large-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--text-heading-small-font: 14px;

	--text-heading-small-lineheight: 1.2;

	--text-heading-small-medium: 500;

	--text-heading-small-bold: 700;

	--text-heading-small-regular: 400;

	--text-heading-small-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--text-heading-x-small-font: 12px;

	--text-heading-x-small-lineheight: 1.2;

	--text-heading-x-small-medium: 500;

	--text-heading-x-small-bold: 700;

	--text-heading-x-small-regular: 400;

	--text-heading-x-small-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--text-heading-medium-font: 16px;

	--text-heading-medium-lineheight: 1.2;

	--text-heading-medium-medium: 500;

	--text-heading-medium-bold: 700;

	--text-heading-medium-regular: 400;

	--text-heading-medium-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--text-heading-x-large-font: 24px;

	--text-heading-x-large-lineheight: 1.2;

	--text-heading-x-large-medium: 500;

	--text-heading-x-large-bold: 700;

	--text-heading-x-large-regular: 400;

	--text-heading-x-large-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--text-para-large-font: 16px;

	--text-para-large-lineheight: 1.4;

	--text-para-large-medium: 500;

	--text-para-large-bold: 700;

	--text-para-large-regular: 400;

	--text-para-large-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--text-para-small-font: 12px;

	--text-para-small-lineheight: 1.4;

	--text-para-small-medium: 500;

	--text-para-small-bold: 700;

	--text-para-small-regular: 400;

	--text-para-small-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--text-para-medium-font: 14px;

	--text-para-medium-lineheight: 1.4;

	--text-para-medium-medium: 500;

	--text-para-medium-bold: 700;

	--text-para-medium-regular: 400;

	--text-para-medium-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--text-para-x-small-font: 10px;

	--text-para-x-small-lineheight: 1.4;

	--text-para-x-small-medium: 500;

	--text-para-x-small-bold: 700;

	--text-para-x-small-regular: 400;

	--text-para-x-small-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--text-para-x-large-font: 20px;

	--text-para-x-large-lineheight: 1.4;

	--text-para-x-large-medium: 500;

	--text-para-x-large-bold: 700;

	--text-para-x-large-regular: 400;

	--text-para-x-large-fontfamily: "GothamSSm", "Montserrat", sans-serif;

	--flow-font: "GothamSSm", "Montserrat", sans-serif;

	--flow-code-font: "Operator Mono", monospace;
}
