@use "sass:math";

$widths: 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700,
  750, 800, 850, 900, 950;
@each $width in $widths {
  .width-#{$width} {
    width: $width + px !important;
  }
  .max-width-#{$width} {
    max-width: $width + px !important;
  }
  .min-width-#{$width} {
    min-width: $width + px !important;
  }
}
$per-widths: 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1;

@each $width in $per-widths {
  .width-#{$width*100}-per {
    width: math.percentage($width) !important;
  }
  .width-#{$width*100}-vw {
    width: $width * 100 + vw !important;
  }
}
