@import "./../../mixins/scss/mixins";

$sizes: (
  "medium": 16px,
  "small": 12px,
);
/**
$gaps map hold gap attribute related values
**/
$gaps: (
  "large": 26px,
  "medium": 16px,
  "small": 12px,
  "x-small": 10px,
);

f-form {
  @include base();
  display: flex;
  flex: 1 0;
  width: 100%;
  @each $size, $value in $sizes {
    &[size="#{$size}"] {
      @include inherit-size($size);
    }
  }
  &[seperator] {
    @each $gap, $value in $gaps {
      &[gap="#{$gap}"] {
        > f-form-group {
          &:not(:first-child) {
            border-top: 1px solid var(--color-border-default);
            padding-top: $value;
          }
        }
      }
    }
  }
}
