@use "sass:map";

@import "./../../mixins/scss/mixins";
@import "./f-form-variables";

:host {
	form {
		display: flex;
		flex-direction: column;
		flex: 1 0 fit-content;
		@each $gap, $value in $gaps {
			&[gap="#{$gap}"] {
				gap: map.get($value, "gap");
			}
		}
	}
}
