@import "../../../../flow-core/src/mixins/scss/mixins";

@import "gridstack/dist/gridstack.min.css";

f-dashboard {
	@include base();
	height: 100%;
	width: 100%;

	display: flex;
	overflow: auto;
	.grid-stack {
		width: 100%;
		.grid-stack-item {
			.grid-stack-item-content {
				background: var(--color-surface-secondary);
				padding: 8px;
			}
		}
	}
}
