@import "../../../../flow-core/src/mixins/scss/mixins";

:host {
	f-table {
		height: fit-content;
		width: 100%;
	}
	> div.f-table-schema-wrapper {
		flex: 1 1;
		overflow: auto;
		@include scrollbar();
		&[show-scrollbar] {
			scrollbar-width: thin;

			&::-webkit-scrollbar {
				display: block;
				width: 6px;
				height: 6px;
			}
		}
	}
}
