f-form-array {
	> [slot="help"] {
		display: contents;
	}
	&[state="default"] {
		--color-help-text: var(--color-state-secondary);
	}

	&[state="danger"] {
		padding: 8px;
		border: 1px solid var(--color-danger-default);
	}
}
