@use "sass:map";
// common mixins imported from this file
@import "@cldcvr/flow-core/mixins/scss/mixins";
@import "./../../mixins";

:host {
	@include base();
	display: flex;
	flex: 1 0 auto;
	width: unset;

	[data-hidden="true"] {
		display: none !important;
	}
	@include infoIcon();
	f-icon-button.f-form-array-action {
		visibility: hidden;
	}
}
