:root {
	--flow-font: "Montserrat", sans-serif;
	--flow-code-font: "Courier Prime", monospace;
	--transition-time-default: 0.25s;
	--transition-time-rapid: 0.12s;
	--transition-time-delayed: 0.4s;
	--flow-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
