@import "../../../../flow-core/src/mixins/scss/mixins";

f-trow {
	display: contents;
	vertical-align: middle;
	@include base();
	--display-cell-radio: flex;

	&[slot="header"] {
		--display-cell-radio: none;
	}
}

f-table[highlight-selected] {
	f-trow {
		&[selected]:not(:hover) {
			--color-background-row: var(--color-background-row-selected);
			> f-tcell {
				background-color: var(--color-background-row-selected) !important;
			}
		}
	}
}
