@function getHover($value) {
    $hover-color: lighten($value, 10%);
    @if lightness($value) > 50 {
        $hover-color: darken($value, 10%);
    }
    @return $hover-color;
}

[flow-element][theme='f-dark'] {
    $color-neutral-text: #eceef3;
    --color-neutral-text: #{$color-neutral-text};
    --color-neutral-text-hover: #{getHover($color-neutral-text)};
    $color-neutral-default: #6682aa;
    --color-neutral-default: #{$color-neutral-default};
    --color-neutral-default-hover: #{getHover($color-neutral-default)};
    $color-neutral-surface: #202a36;
    --color-neutral-surface: #{$color-neutral-surface};
    --color-neutral-surface-hover: #{getHover($color-neutral-surface)};
    $color-neutral-secondary: #8fa6c7;
    --color-neutral-secondary: #{$color-neutral-secondary};
    --color-neutral-secondary-hover: #{getHover($color-neutral-secondary)};
    $color-neutral-subtle: #475a74;
    --color-neutral-subtle: #{$color-neutral-subtle};
    --color-neutral-subtle-hover: #{getHover($color-neutral-subtle)};
    $color-warning-surface: #6e4e0c;
    --color-warning-surface: #{$color-warning-surface};
    --color-warning-surface-hover: #{getHover($color-warning-surface)};
    $color-danger-default: #dd5f5f;
    --color-danger-default: #{$color-danger-default};
    --color-danger-default-hover: #{getHover($color-danger-default)};
    $color-highlight-secondary: #a285e0;
    --color-highlight-secondary: #{$color-highlight-secondary};
    --color-highlight-secondary-hover: #{getHover($color-highlight-secondary)};
    $color-warning-default: #ebb447;
    --color-warning-default: #{$color-warning-default};
    --color-warning-default-hover: #{getHover($color-warning-default)};
    $color-success-secondary: #7de881;
    --color-success-secondary: #{$color-success-secondary};
    --color-success-secondary-hover: #{getHover($color-success-secondary)};
    $color-success-text: #dbf0dc;
    --color-success-text: #{$color-success-text};
    --color-success-text-hover: #{getHover($color-success-text)};
    $color-highlight-default: #9267e9;
    --color-highlight-default: #{$color-highlight-default};
    --color-highlight-default-hover: #{getHover($color-highlight-default)};
    $color-highlight-surface: #402a6f;
    --color-highlight-surface: #{$color-highlight-surface};
    --color-highlight-surface-hover: #{getHover($color-highlight-surface)};
    $color-danger-subtle: #c44040;
    --color-danger-subtle: #{$color-danger-subtle};
    --color-danger-subtle-hover: #{getHover($color-danger-subtle)};
    $color-primary-secondary: #66b9ff;
    --color-primary-secondary: #{$color-primary-secondary};
    --color-primary-secondary-hover: #{getHover($color-primary-secondary)};
    $color-icon-subtle: #556f91;
    --color-icon-subtle: #{$color-icon-subtle};
    --color-icon-subtle-hover: #{getHover($color-icon-subtle)};
    $color-surface-default: #202a36;
    --color-surface-default: #{$color-surface-default};
    --color-surface-default-hover: #{getHover($color-surface-default)};
    $color-warning-text: #ffeecc;
    --color-warning-text: #{$color-warning-text};
    --color-warning-text-hover: #{getHover($color-warning-text)};
    $color-border-subtle: #304055;
    --color-border-subtle: #{$color-border-subtle};
    --color-border-subtle-hover: #{getHover($color-border-subtle)};
    $color-surface-subtle: #18202a;
    --color-surface-subtle: #{$color-surface-subtle};
    --color-surface-subtle-hover: #{getHover($color-surface-subtle)};
    $color-text-default: #dfe4ec;
    --color-text-default: #{$color-text-default};
    --color-text-default-hover: #{getHover($color-text-default)};
    $color-success-subtle: #3d8f40;
    --color-success-subtle: #{$color-success-subtle};
    --color-success-subtle-hover: #{getHover($color-success-subtle)};
    $color-success-default: #66cc69;
    --color-success-default: #{$color-success-default};
    --color-success-default-hover: #{getHover($color-success-default)};
    $color-warning-subtle: #cc8800;
    --color-warning-subtle: #{$color-warning-subtle};
    --color-warning-subtle-hover: #{getHover($color-warning-subtle)};
    $color-highlight-text: #d1c2f0;
    --color-highlight-text: #{$color-highlight-text};
    --color-highlight-text-hover: #{getHover($color-highlight-text)};
    $color-icon-default: #bfcad9;
    --color-icon-default: #{$color-icon-default};
    --color-icon-default-hover: #{getHover($color-icon-default)};
    $color-highlight-subtle: #6243a3;
    --color-highlight-subtle: #{$color-highlight-subtle};
    --color-highlight-subtle-hover: #{getHover($color-highlight-subtle)};
    $color-primary-default: #42a0f0;
    --color-primary-default: #{$color-primary-default};
    --color-primary-default-hover: #{getHover($color-primary-default)};
    $color-surface-tertiary: #344356;
    --color-surface-tertiary: #{$color-surface-tertiary};
    --color-surface-tertiary-hover: #{getHover($color-surface-tertiary)};
    $color-danger-surface: #5a2626;
    --color-danger-surface: #{$color-danger-surface};
    --color-danger-surface-hover: #{getHover($color-danger-surface)};
    $color-surface-secondary: #2a3747;
    --color-surface-secondary: #{$color-surface-secondary};
    --color-surface-secondary-hover: #{getHover($color-surface-secondary)};
    $color-text-secondary: #aebdd0;
    --color-text-secondary: #{$color-text-secondary};
    --color-text-secondary-hover: #{getHover($color-text-secondary)};
    $color-warning-secondary: #ffcc66;
    --color-warning-secondary: #{$color-warning-secondary};
    --color-warning-secondary-hover: #{getHover($color-warning-secondary)};
    $color-border-secondary: #486386;
    --color-border-secondary: #{$color-border-secondary};
    --color-border-secondary-hover: #{getHover($color-border-secondary)};
    $color-primary-surface: #003766;
    --color-primary-surface: #{$color-primary-surface};
    --color-primary-surface-hover: #{getHover($color-primary-surface)};
    $color-danger-text: #fad1d1;
    --color-danger-text: #{$color-danger-text};
    --color-danger-text-hover: #{getHover($color-danger-text)};
    $color-border-default: #5c708a;
    --color-border-default: #{$color-border-default};
    --color-border-default-hover: #{getHover($color-border-default)};
    $color-primary-subtle: #006ecc;
    --color-primary-subtle: #{$color-primary-subtle};
    --color-primary-subtle-hover: #{getHover($color-primary-subtle)};
    $color-success-surface: #1f4720;
    --color-success-surface: #{$color-success-surface};
    --color-success-surface-hover: #{getHover($color-success-surface)};
    $color-icon-secondary: #98abc3;
    --color-icon-secondary: #{$color-icon-secondary};
    --color-icon-secondary-hover: #{getHover($color-icon-secondary)};
    $color-primary-text: #cce8ff;
    --color-primary-text: #{$color-primary-text};
    --color-primary-text-hover: #{getHover($color-primary-text)};
    $color-text-subtle: #5a7495;
    --color-text-subtle: #{$color-text-subtle};
    --color-text-subtle-hover: #{getHover($color-text-subtle)};
    $color-danger-secondary: #f28c8c;
    --color-danger-secondary: #{$color-danger-secondary};
    --color-danger-secondary-hover: #{getHover($color-danger-secondary)};
}

[flow-element][theme='f-light'] {
    $color-neutral-subtle: #c4cbd8;
    --color-neutral-subtle: #{$color-neutral-subtle};
    --color-neutral-subtle-hover: #{getHover($color-neutral-subtle)};
    $color-neutral-surface: #e9ecf1;
    --color-neutral-surface: #{$color-neutral-surface};
    --color-neutral-surface-hover: #{getHover($color-neutral-surface)};
    $color-neutral-secondary: #596e82;
    --color-neutral-secondary: #{$color-neutral-secondary};
    --color-neutral-secondary-hover: #{getHover($color-neutral-secondary)};
    $color-neutral-default: #7a8ea7;
    --color-neutral-default: #{$color-neutral-default};
    --color-neutral-default-hover: #{getHover($color-neutral-default)};
    $color-neutral-text: #0d0f10;
    --color-neutral-text: #{$color-neutral-text};
    --color-neutral-text-hover: #{getHover($color-neutral-text)};
    $color-success-subtle: #70c273;
    --color-success-subtle: #{$color-success-subtle};
    --color-success-subtle-hover: #{getHover($color-success-subtle)};
    $color-success-secondary: #2e7a31;
    --color-success-secondary: #{$color-success-secondary};
    --color-success-secondary-hover: #{getHover($color-success-secondary)};
    $color-icon-subtle: #90a7bc;
    --color-icon-subtle: #{$color-icon-subtle};
    --color-icon-subtle-hover: #{getHover($color-icon-subtle)};
    $color-danger-subtle: #e67575;
    --color-danger-subtle: #{$color-danger-subtle};
    --color-danger-subtle-hover: #{getHover($color-danger-subtle)};
    $color-text-default: #121416;
    --color-text-default: #{$color-text-default};
    --color-text-default-hover: #{getHover($color-text-default)};
    $color-highlight-subtle: #b299e6;
    --color-highlight-subtle: #{$color-highlight-subtle};
    --color-highlight-subtle-hover: #{getHover($color-highlight-subtle)};
    $color-surface-default: #fcfcfd;
    --color-surface-default: #{$color-surface-default};
    --color-surface-default-hover: #{getHover($color-surface-default)};
    $color-surface-tertiary: #d7dae0;
    --color-surface-tertiary: #{$color-surface-tertiary};
    --color-surface-tertiary-hover: #{getHover($color-surface-tertiary)};
    $color-success-text: #1c401d;
    --color-success-text: #{$color-success-text};
    --color-success-text-hover: #{getHover($color-success-text)};
    $color-text-subtle: #737578;
    --color-text-subtle: #{$color-text-subtle};
    --color-text-subtle-hover: #{getHover($color-text-subtle)};
    $color-danger-secondary: #ad1f1f;
    --color-danger-secondary: #{$color-danger-secondary};
    --color-danger-secondary-hover: #{getHover($color-danger-secondary)};
    $color-danger-surface: #f2b5b5;
    --color-danger-surface: #{$color-danger-surface};
    --color-danger-surface-hover: #{getHover($color-danger-surface)};
    $color-success-default: #45a148;
    --color-success-default: #{$color-success-default};
    --color-success-default-hover: #{getHover($color-success-default)};
    $color-icon-secondary: #5e7387;
    --color-icon-secondary: #{$color-icon-secondary};
    --color-icon-secondary-hover: #{getHover($color-icon-secondary)};
    $color-warning-text: #583e09;
    --color-warning-text: #{$color-warning-text};
    --color-warning-text-hover: #{getHover($color-warning-text)};
    $color-primary-default: #2c91e8;
    --color-primary-default: #{$color-primary-default};
    --color-primary-default-hover: #{getHover($color-primary-default)};
    $color-success-surface: #c9e8ca;
    --color-success-surface: #{$color-success-surface};
    --color-success-surface-hover: #{getHover($color-success-surface)};
    $color-border-subtle: #c8ccd0;
    --color-border-subtle: #{$color-border-subtle};
    --color-border-subtle-hover: #{getHover($color-border-subtle)};
    $color-primary-surface: #b8dbfa;
    --color-primary-surface: #{$color-primary-surface};
    --color-primary-surface-hover: #{getHover($color-primary-surface)};
    $color-danger-text: #570f10;
    --color-danger-text: #{$color-danger-text};
    --color-danger-text-hover: #{getHover($color-danger-text)};
    $color-surface-secondary: #e5e7ea;
    --color-surface-secondary: #{$color-surface-secondary};
    --color-surface-secondary-hover: #{getHover($color-surface-secondary)};
    $color-color-warning-surface: #fae2b2;
    --color-color-warning-surface: #{$color-color-warning-surface};
    --color-color-warning-surface-hover: #{getHover($color-color-warning-surface)};
    $color-danger-default: #d34545;
    --color-danger-default: #{$color-danger-default};
    --color-danger-default-hover: #{getHover($color-danger-default)};
    $color-warning-secondary: #c78d1a;
    --color-warning-secondary: #{$color-warning-secondary};
    --color-warning-secondary-hover: #{getHover($color-warning-secondary)};
    $color-surface-subtle: #f4f5f5;
    --color-surface-subtle: #{$color-surface-subtle};
    --color-surface-subtle-hover: #{getHover($color-surface-subtle)};
    $color-primary-secondary: #0f6dbd;
    --color-primary-secondary: #{$color-primary-secondary};
    --color-primary-secondary-hover: #{getHover($color-primary-secondary)};
    $color-warning-subtle: #e4ba67;
    --color-warning-subtle: #{$color-warning-subtle};
    --color-warning-subtle-hover: #{getHover($color-warning-subtle)};
    $color-border-default: #8599ad;
    --color-border-default: #{$color-border-default};
    --color-border-default-hover: #{getHover($color-border-default)};
    $color-warning-default: #df9f20;
    --color-warning-default: #{$color-warning-default};
    --color-warning-default-hover: #{getHover($color-warning-default)};
    $color-icon-default: #435260;
    --color-icon-default: #{$color-icon-default};
    --color-icon-default-hover: #{getHover($color-icon-default)};
    $color-text-secondary: #454b54;
    --color-text-secondary: #{$color-text-secondary};
    --color-text-secondary-hover: #{getHover($color-text-secondary)};
    $color-highlight-default: #9370db;
    --color-highlight-default: #{$color-highlight-default};
    --color-highlight-default-hover: #{getHover($color-highlight-default)};
    $color-primary-text: #08365e;
    --color-primary-text: #{$color-primary-text};
    --color-primary-text-hover: #{getHover($color-primary-text)};
    $color-border-secondary: #adbdcd;
    --color-border-secondary: #{$color-border-secondary};
    --color-border-secondary-hover: #{getHover($color-border-secondary)};
    $color-primary-subtle: #6db5f3;
    --color-primary-subtle: #{$color-primary-subtle};
    --color-primary-subtle-hover: #{getHover($color-primary-subtle)};
    $color-highlight-text: #352060;
    --color-highlight-text: #{$color-highlight-text};
    --color-highlight-text-hover: #{getHover($color-highlight-text)};
    $color-highlight-secondary: #6d41c8;
    --color-highlight-secondary: #{$color-highlight-secondary};
    --color-highlight-secondary-hover: #{getHover($color-highlight-secondary)};
    $color-highlight-surface: #d1c4ee;
    --color-highlight-surface: #{$color-highlight-surface};
    --color-highlight-surface-hover: #{getHover($color-highlight-surface)};
}
