@import "./../../mixins/scss/mixins";

$gaps: (
  "large": 16px,
  "medium": 12px,
  "small": 8px,
  "x-small": 4px,
);

f-form-group {
  @include base();
  display: flex;
  flex: 1 1;
  // width: 100%;

  &[direction="vertical"] {
    flex-direction: column;
  }
  &[direction="horizontal"] {
    flex-direction: row;
  }

  @each $gap, $value in $gaps {
    &[gap="#{$gap}"] {
      @include inherit-gap($gap);
      gap: $value;
    }
  }
}

// f-form-group:has(f-field[type="checkbox"]) {
//   width: fit-content;
// }
