@import "./../../scss/color-tokens";

//https://fonts.google.com/specimen/Montserrat?query=mon
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");
//https://fonts.google.com/betterspecimen/Courier+Prime
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --flow-font: "Montserrat", sans-serif;
  --flow-code-font: "Courier Prime", monospace;
}
html,
body {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0px;
}
