@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");

body * {
	font-family: "Montserrat", sans-serif !important;
}

#root,
#root-inner,
#storybook-root {
	height: 100%;
}
body {
	overflow: auto;
}

div[role="main"] {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.7) !important;
}

body *,
body p {
	font-family: "Montserrat", sans-serif !important;
}

/* item icons (teaking for Mulish cap height) */
.sidebar-item svg {
	margin-top: 2px;
}

.docblock-argstable-body tr td {
	font-size: 12px !important;
	font-weight: 400 !important;
}

span.token.tag {
	font-family: var(--flow-code-font);
}

.sb-show-main.sb-main-padded {
	padding: 0px !important;
}
.docs-story .css-11xgcgt {
	background: transparent;
}
.sbdocs h4 {
	font-size: 36px !important;
	font-weight: 700 !important;
}

.margin-btm-44 {
	margin-bottom: 44px !important;
}

.margin-btm-32 {
	margin-bottom: 32px !important;
}

.margin-btm-8 {
	margin-bottom: 8px !important;
}

.margin-btm-24 {
	margin-bottom: 24px !important;
}

.sbdocs p {
	font-size: 14px !important;
	font-weight: 400 !important;
	line-height: 16px !important;
}

.sbdocs h4 {
	font-size: 24px !important;
	font-weight: 700 !important;
	line-height: 28.13px !important;
}

.sbdocs h5 {
	font-size: 20px !important;
	font-weight: 700 !important;
	line-height: 23.44px !important;
}

.sbdocs h6 {
	font-size: 18px !important;
	font-weight: 500 !important;
	line-height: 21.09px !important;
}

.sbdocs a {
	color: #1ea7fd !important;
}

.margin-btm-4 {
	margin-bottom: 4px !important;
}

.margin-btm-36 {
	margin-bottom: 36px !important;
}

.margin-tp-36 {
	margin-top: 36px !important;
}

.margin-btm-16 {
	margin-bottom: 16px !important;
}

.note-section {
	font-style: italic !important;
	font-size: 12px !important;
	font-weight: 400 !important;
	line-height: 16px !important;
	padding: 10px !important;
}

.align-center {
	display: flex !important;
	justify-content: center !important;
}

.sbdocs code {
	border: none !important;
	font-weight: 500 !important;
	border-radius: 4px;
	font-size: 14px !important;
	padding: 4px 8px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.custom-table {
	width: 100%;
	border-radius: 4px;

	padding: 20px !important;
}

.custom-table td {
	padding: 12px !important;
	font-size: 12px !important;
	font-weight: 400 !important;
	line-height: 16px !important;
}

.custom-table tr td:first-child {
	width: 280px !important;
}

.custom-table tr td:nth-child(2) {
	width: 400px !important;
}

.custom-table tr:first-child td {
	font-size: 14px !important;
	font-weight: 900 !important;
	line-height: 16px !important;
}

.custom-color-table {
	width: 100%;
	border-radius: 4px;
	border: none !important;
	padding: 20px !important;
}

.custom-color-table td {
	border: none !important;

	padding: 12px !important;
	font-size: 12px !important;
	font-weight: 400 !important;
	line-height: 16px !important;
}
.custom-color-table th {
	border: none !important;

	padding: 12px !important;
	font-size: 14px !important;
	font-weight: 700 !important;
	line-height: 18px !important;

	text-align: left !important;
}

.color-table-token {
	font-size: 12px !important;
	font-weight: 400 !important;
	line-height: 14px !important;
	letter-spacing: 0em !important;
	text-align: left !important;
	color: #42a0f0 !important;
}

.custom-table-flex {
	display: flex !important;
	align-items: center !important;
	justify-content: left !important;
	flex-direction: row !important;
}
.color-table-value p {
	font-size: 12px !important;
	font-weight: 400 !important;
	line-height: 14px !important;
	letter-spacing: 0em !important;
	text-align: left !important;
}
.color-surface-subtle {
	height: 16px !important;
	width: 60px !important;
	border-radius: 0px !important;
	margin-left: 30px !important;
}
.color-surface-default {
	height: 16px !important;
	width: 60px !important;
	border-radius: 0px !important;
	margin-left: 30px !important;
}
.color-light {
	height: 16px !important;
	width: 60px !important;
	border-radius: 0px !important;
	margin-left: 30px !important;
}

.text-default {
	font-size: 12px !important;
	font-weight: 400 !important;
	line-height: 14px !important;
	letter-spacing: 0em !important;
	text-align: left !important;
}

.text-secondary {
	font-size: 12px !important;
	font-weight: 400 !important;
	line-height: 14px !important;
	letter-spacing: 0em !important;
	text-align: left !important;
}

.font-wt-700 {
	font-weight: 700 !important;
}

.margin-lt-10 {
	margin-left: 10px !important;
}

.width-set {
	width: 50px !important;
}

input[type="color"] {
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	padding: 0px;
	margin: 0px;
	display: block;
	height: 36px;
	cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.sb-show-errordisplay .sb-errordisplay {
	border: none;
	z-index: 999999;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 auto;
}

.sbdocs table {
	width: 100%;
	padding-top: 12px !important;
	table-layout: fixed;
}

.sbdocs table tr th {
	text-align: left;
	border: none !important;
	font-size: 12px;
	font-weight: 400 !important;
}

.sbdocs table tr td {
	border: none !important;
	border-collapse: collapse;
}

.row-width {
	width: 250px;
}

.sbdocs table tr td a {
	text-decoration: underline;
}
