
 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");

 body *,body p {
   font-family: "Montserrat", sans-serif !important;
 }
/* .sbdocs.sbdocs-preview div[id^="story--"][id*="popover"] > div,
.sbdocs.sbdocs-preview div[id^="story--"][id*="inline"] > div {
  min-height: 600px !important;
} */


span.token.tag {
  font-family: var(--flow-code-font);
}

.sb-show-main.sb-main-padded {
  background-color: var(--color-surface-default) !important;
  padding: 10px !important;
}
.sbdocs.sbdocs-wrapper {
  background-color: #131920 !important;
}

.sbdocs-title {
  color: white !important;
}
.sbdocs {
  color: white !important;
}
.sbdocs-h3 {
  color: white !important;
}

.os-content {
  background-color: #131920 !important;
  border-bottom: 1px solid var(--color-border-default) !important;
}
.docs-story {
  background-color: #131920 !important;
}
.docs-story .css-11xgcgt{
	background:transparent;
} 
.sbdocs-preview {
  background-color: var(--color-border-default) !important;
}
.docblock-code-toggle {
  background-color: #131920 !important;
  color: var(--color-neutral-secondary) !important;
  border: 0.5px solid var(--color-neutral-secondary) !important;
  border-radius: 4px !important;
}
.docblock-argstable-head th {
  color: #dfe4ec !important;
}
.docblock-argstable-body tr td {
  background-color: #131920 !important;
  color: var(--color-text-secondary) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  border-bottom: 0.5px solid var(--color-neutral-secondary) !important;
}
.docblock-argstable-body tr {
  border-top-width: 0.5px !important;
  border-top-style: solid !important;
  border-top-color: var(--color-neutral-secondary) !important;
}
.docblock-argstable-body {
  border: 0.5px solid var(--color-neutral-secondary) !important;
  border-radius: 4px !important;
}
.docblock-argstable-body td div span {
  background-color: var(--color-neutral-default) !important;
  color: var(--color-surface-default) !important;
  border: none !important;
}
#root,
#root-inner {
  height: 100%;
}
body {
  overflow: auto;
}

.sbdocs-h4 {
  font-size: 36px !important;
  font-weight: 700 !important;
}

.margin-btm-44 {
  margin-bottom: 44px !important;
}

.margin-btm-32 {
  margin-bottom: 32px !important;
}

.margin-btm-8 {
  margin-bottom: 8px !important;
}

.margin-btm-24 {
  margin-bottom: 24px !important;
}

.sbdocs-p {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  color: #dfe4ec !important;
}

.sbdocs-h4 {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 28.13px !important;
}

.sbdocs-hr {
  border-top: 1px solid var(--color-border-default) !important;
}

.sbdocs-h5 {
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 23.44px !important;
}

.sbdocs-h6 {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 21.09px !important;
}

.sbdocs-a {
  color: #1ea7fd !important;
}

.margin-btm-4 {
  margin-bottom: 4px !important;
}

.margin-btm-36 {
  margin-bottom: 36px !important;
}

.margin-tp-36 {
  margin-top: 36px !important;
}

.margin-btm-16 {
  margin-bottom: 16px !important;
}

.note-section {
  font-style: italic !important;
  background-color: #2a3747 !important;
  border-left: 12px solid #202a36 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  color: #dfe4ec !important;
  padding: 10px !important;
}

.align-center {
  display: flex !important;
  justify-content: center !important;
}

code {
  background-color: var(--color-neutral-default) !important;
  color: var(--color-surface-default) !important;
  border: none !important;
  font-weight: 500 !important;
}

.custom-table {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--color-border-default) !important;
  padding: 20px !important;
}

.custom-table td {
  border: none !important;
  color: var(--color-text-secondary) !important;
  padding: 12px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  color: #dfe4ec !important;
}

.custom-table tr td:first-child {
  width: 280px !important;
}

.custom-table tr td:nth-child(2) {
  width: 400px !important;
}

.custom-table tr:first-child td {
  font-size: 14px !important;
  font-weight: 900 !important;
  line-height: 16px !important;
  color: #dfe4ec !important;
}

.custom-table tr {
  border-top: 1px solid var(--color-border-default) !important;
  background-color: #131920 !important;
}

.custom-color-table {
  width: 100%;
  border-radius: 4px;
  border: none !important;
  padding: 20px !important;
}

.custom-color-table td {
  border: none !important;
  color: var(--color-text-secondary) !important;
  padding: 12px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  color: #dfe4ec !important;
}
.custom-color-table th {
  border: none !important;
  color: var(--color-text-secondary) !important;
  padding: 12px !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 18px !important;
  color: #dfe4ec !important;
  text-align: left !important;
}

.custom-color-table tr {
  border-bottom: 1px solid var(--color-border-default) !important;
  background-color: #131920 !important;
}

.color-table-token {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #42a0f0 !important;
}

.custom-table-flex {
  display: flex !important;
  align-items: center !important;
  justify-content: left !important;
  flex-direction: row !important;
}
.color-table-value p {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: var(--color-text-subtle) !important;
}
.color-surface-subtle {
  background-color: var(--color-surface-subtle) !important;
  height: 16px !important;
  width: 60px !important;
  border-radius: 0px !important;
  margin-left: 30px !important;
}
.color-surface-default {
  background-color: var(--color-surface-default) !important;
  height: 16px !important;
  width: 60px !important;
  border-radius: 0px !important;
  margin-left: 30px !important;
}
.color-light {
  background-color: #f4f5f5 !important;
  height: 16px !important;
  width: 60px !important;
  border-radius: 0px !important;
  margin-left: 30px !important;
}

.text-default {
  color: #dfe4ec !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
}

.text-secondary {
  color: var(--color-text-secondary) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
}

.font-wt-700 {
  font-weight: 700 !important;
}

.margin-lt-10 {
  margin-left: 10px !important;
}

