:host {
	.logs-view {
		pre {
			counter-reset: line;
			font-size: 13px;
			line-height: 16px;
			font-family: var(--text-code-medium-fontfamily);

			> span {
				counter-increment: line;
				&:before {
					content: counter(line);
					color: var(--gray-300);
					padding-right: 12px;
					text-align: right;
					min-width: 2em;
					display: inline-block;
					-webkit-user-select: none;
					user-select: none;
				}
			}
		}

		&.wrap-text pre > span {
			white-space: pre-wrap;
		}

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
		.loading-logs {
			position: sticky;
			bottom: 0px;
		}
	}
}
