:host {
	.logs-view {
		pre {
			counter-reset: line;
			font-size: 13px;
			line-height: 16px;
			font-family: var(--text-code-medium-fontfamily);

			> span {
				counter-increment: line;
				&:before {
					content: counter(line);
					color: var(--gray-300);
					padding-right: 12px;
					text-align: right;
					min-width: 2em;
					display: inline-block;
					-webkit-user-select: none;
					user-select: none;
				}
				&.hidden {
					position: absolute;
					left: -200vw;
					max-height: 0px;
					overflow: hidden;
					opacity: 0;
				}
			}
		}

		.log-line.blink {
			animation: blinkLine 3s infinite;
		}

		@keyframes blinkLine {
			0% {
				background-color: rgba(255, 255, 0, 0.3);
			}
			50% {
				background-color: rgba(255, 255, 0, 0);
			}
			100% {
				background-color: rgba(255, 255, 0, 0.3);
			}
		}

		&.wrap-text pre > span {
			white-space: pre-wrap;
		}

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
		.loading-logs {
			position: sticky;
			bottom: 0px;
		}
		.top-bar {
			position: sticky;
			top: 0px;
			right: 0px;
			margin-left: auto;
		}
		mark {
			background: yellow; //rgba(255, 255, 0, 0.686);
			color: black;
			display: inline;
			&.active {
				background: orange;
			}
		}
	}
}
