@import "./../../mixins/scss/mixins";

:host {
	.f-breadcrumb-content {
		max-width: 100px !important;
		.f-breadcrumb-text-hover {
			&:hover {
				cursor: pointer;
				color: var(--color-primary-default) !important;
			}
		}
		&[disabled] {
			@include disabled();
			pointer-events: none;
			opacity: 1;
		}
	}
	.toggle-popover-hover {
		&:hover {
			cursor: pointer;
			color: var(--color-primary-default) !important;
		}
		&[disabled] {
			@include disabled();
			pointer-events: none;
			opacity: 1;
		}
	}
	#breadcrumb-popover {
		&[disabled] {
			@include disabled();
			pointer-events: none;
			opacity: 1;
		}
	}
}
