@use "sass:map";
@import "./../../mixins/scss/mixins";

$sizes: (
  "stretch": (
    "width": calc(100vw - 32px),
    "height": calc(100vh - 32px),
  ),
  "large": (
    "width": 864px,
    "height": 600px,
  ),
  "medium": (
    "width": 432px,
    "height": 600px,
  ),
  "small": (
    "width": 320px,
    "height": 432px,
  ),
);

f-popover {
  @include base();
  position: fixed;
  z-index: 200;

  &[placement="left-fixed"] {
    position: absolute;
    z-index: 210;
    left: 0px;
    top: 0px;
    height: 100%;
    max-height: 100% !important;
  }
  &[placement="right-fixed"] {
    position: absolute;
    z-index: 210;
    top: 0px;
    right: 0px;
    left: auto;
    height: 100%;
    max-height: 100% !important;
  }

  display: flex;
  flex: 0 0 auto;
  background-color: var(--color-surface-tertiary);
  border-radius: 4px;
  overflow: auto;
  &.tooltip {
    background-color: #000;
    z-index: 1000;
  }

  &[open] {
    @each $size, $value in $sizes {
      &[size="#{$size}"] {
        width: map.get($value, "width");
        max-height: map.get($value, "height");
      }
    }
    &.tooltip {
      width: fit-content;
      max-width: 300px;
    }
  }
  flex-direction: column;
  > f-div[height="fill-container"] {
    flex: 1 0 auto;
    max-height: 100%;
  }

  > * {
    z-index: 2;
  }
}

:host {
  .f-overlay {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
  }
}
