@use "sass:map";
// common mixins imported from this file
@import "@cldcvr/flow-core/mixins/scss/mixins";
@import "./../../mixins";
/**
$gaps map hold gap attribute related values
**/
$gaps: (
	"none": 0px,
	"x-large": 24px,
	"large": 16px,
	"medium": 12px,
	"small": 8px,
	"x-small": 4px
);

$states: (
	"primary": "primary",
	"default": "default",
	"success": "success",
	"warning": "warning",
	"danger": "danger"
);

:host {
	.f-checkbox-group {
		@include base();
		display: flex;
		// iterating over gaps and appying respective css
		@each $gap, $value in $gaps {
			&[gap="#{$gap}"] {
				gap: $value;
			}
		}
		&[direction="vertical"] {
			flex-direction: column;
		}
		&[direction="horizontal"] {
			flex-direction: row;
		}
	}
	@include infoIcon();

	f-div.f-checkbox-group-wrapper[disabled] {
		@include disabled();
		pointer-events: none;
		opacity: 1;
	}
}

f-checkbox-group {
	display: flex;
	flex: 1 0 fit-content;
	@each $state, $color in $states {
		&[state="#{$state}"] {
			@include input-color($state);
		}
	}

	&[disabled] {
		@include disabled();
	}
}
