@import "./../../shared/mixins";

f-icon {
  @include base();
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: var(--color-icon-default);
    stroke: none;
    *[fill^="white"] {
      fill: var(--color-icon-default);
    }
  }
}
