@use "sass:map";

@import "./../../mixins/scss/mixins";

f-subtext {
  @include base();
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex: 1 1;
  padding: 0px;
  font-style: normal;
  font-weight: 325;
  font-size: 12px;
  line-height: 18px;
  margin: 0px;
  color: var(--color-subtext-default);
}
